{% load custom_filters %}
{% load humanize %}

<div class="grid grid-cols-12 grid-rows-[min-content] gap-y-6 lg:gap-x-6 lg:gap-y-6">
  <section class="stats stats-vertical col-span-12 w-full mb-4 shadow-sm xl:stats-horizontal">
    <div class="stat">
      <div class="stat-title">현재</div>
      <div class="stat-value">{{syear}}. {{smonth}}</div>
      <div class="stat-desc"></div>
    </div>
    <div class="stat">
      <div class="stat-title">참가판독의</div>
      <div class="stat-value">{{ cm_total|intcomma}}</div>
      <div class="stat-desc"></div>
    </div>
    <div class="stat">
      <div class="stat-title">의뢰건수</div>
      <div class="stat-value">{{ rp_total|intcomma }}&nbsp;</div>
      <div class="stat-desc"></div>
    </div>
    <div class="stat">
      <div class="stat-title">판독료</div>
      <div class="stat-value">{{ revenue_total|floatformat:0|intcomma }}</div>
      <div class="stat-desc"></div>
    </div>  
  </section>

  <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-4">
      <div class="card-body grow-0">
        <h2 class="card-title">
          <a class="link-hover link">판독의별</a>
        </h2>
      </div>
      <div class="overflow-x-auto px-4">
        <table class="table table-zebra">
          <tbody>
            {% for rs in rs_cm %}
            <tr>
              <td>{{ rs.provider__profile__real_name }}</td>
              <td><p class="text-end">{{ rs.company_count|floatformat:0|intcomma }}</p></td>
              <td><p class="text-end">{{ rs.company_total|floatformat:0|intcomma }}</p></td>
              
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
      <div>
        &nbsp;
      </div>
  </section>
  
  <section class="card col-span-12 bg-base-100 shadow-sm xl:col-span-4">
    <div class="card-body grow-0">
      <h2 class="card-title">
        <a class="link-hover link">Modality</a>
      </h2>
    </div>
    <div class="overflow-x-auto px-4">
   
        <table class="table table-zebra w-full">
          {% for rs in rs_modality %}
          <tr>
            <td>{{ rs.amodality }}</td>
            <td><p class="text-end">{{ rs.amodality_total|div_value:rs.amodality_count|floatformat:0|intcomma }}</p></td>
            <td><p class="text-end">{{ rs.amodality_count|floatformat:0|intcomma }}</p></td>
            <td><p class="text-end">{{ rs.amodality_total|floatformat:0|intcomma }}</p></td>
          </tr>
          {% endfor %}
          <tr class="text-semibold font-bold">
              <!-- Total Row -->
              <td colspan="2">Total</td>
              <td><p class="text-end">{{ rs_modality|sum_values:'amodality_count'|floatformat:0|intcomma }}</p></td>
              <td><p class="text-end">{{ rs_modality|sum_values:'amodality_total'|floatformat:0|intcomma }}</p></td>
          </tr>

        </table>
    </div>
 
    
    <div>
      &nbsp;
    </div>
  </section>
  <section class="card col-span-12 bg-base-100 shadow-sm xl:col-span-4">
    <div class="card-body grow-0">
      <h2 class="card-title">
        <a class="link-hover link">요일별 의뢰</a>
      </h2>
    </div>
    <div class="overflow-x-auto px-4">
      <table class="table table-zebra w-full">
        {% for rs in rs_weekday %}
        <tr>
          <td>{{ rs.weekday|weekday_name }}</td>
          <td><p class="text-end">{{ rs.weekday_total_count|floatformat:0|intcomma }}</p></td>
        </tr>
        {% endfor %}
      </table>
         
    </div>
    <div>
      &nbsp;
    </div>
  </section>
 
</div>
