{% extends 'app_base.html' %}
{% load custom_filters %}
{% load humanize %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">Upload Data 이력</a>
            </h2>
            <a href="#"
                hx-get="{% url 'minibooks:new_upload' %}"
                hx-trigger="click"
                hx-target="#main_area"
                hx-swap="outerHTML"
                class="btn btn-primary">Import new data</a>
                        
            
        </div>
    </div>
    <div class="space-y-12">
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                  <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                      <table class="table">
                          <thead class="bg-gray-50">
                              <tr>
                                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">ID</th>
                                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">년도</th>
                                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">월</th>
                                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">제목</th>
                                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">정산방식</th>
                                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">파일명</th>
                                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Rows</th>
                                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">생성</th>
                                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">정규화</th>
                                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">통계</th>
                                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                                      <span class="sr-only">보기</span>
                                  </th>
                              </tr>
                          </thead>
                          <tbody class="divide-y divide-gray-200 bg-white">
                          {% for data in upload_histories %}
                              <tr class="hover:bg-gray-500 hover:cursor-pointer hover:text-gray-100">
                                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 hover:text-gray-100">{{ data.id }}</td>
                                  <td class="whitespace-nowrap px-3 py-4 ">{{ data.ayear }}</td>
                                  <td class="whitespace-nowrap px-3 py-4 ">{{ data.amonth }}</td>
                                  <td class="whitespace-nowrap px-3 py-4 ">{{ data.name }}</td>
                                  <td class="whitespace-nowrap px-3 py-4 ">{{ data.platform }}</td>
                                  <td class="whitespace-nowrap px-3 py-4 ">{{ data.afile.name|filename }}</td>
                                  <td class="whitespace-nowrap px-3 py-4 ">{{ data.row_count|intcomma }}</td>
                                  <!-- <td class="whitespace-nowrap px-3 py-4 ">{{ data.ReportMaster_count|intcomma }}</td> -->
                                  <td class="whitespace-nowrap px-3 py-4 ">
                                      {% if data.imported == False %}
                                        <a href="{% url 'minibooks:create_reportmaster' data.id %}" class="btn btn-info btn-sm">생성</a>
                                      {% else %}
                                        <div class="badge badge-{{ data.imported|yesno:'success,error' }} text-white">{{ data.imported|yesno:'Done,No' }}</div>
                                      {% endif %}
                                  </td>
                                  <td class="whitespace-nowrap px-3 py-4 ">
                                      {% if data.verified == False %}
                                        <a href="{% url 'minibooks:dry_run' data.id %}" class="btn btn-info btn-sm">Dry run</a>
                                        <a href="{% url 'minibooks:clean_data' data.id %}" class="btn btn-info btn-sm">정규화</a>
                                      {% else %}
                                        <div class="badge badge-{{ data.verified|yesno:'success,error' }} text-white">{{ data.verified|yesno:'Done,No' }}</div>
                                      {% endif %}
                                  </td>
                                  <td class="whitespace-nowrap px-3 py-4 ">
                                    {% if data.aggregated == False %}
                                      <a href="{% url 'minibooks:aggregate_data' data.id %}" class="btn btn-info btn-sm">통계화</a>
                                    {% else %}
                                    
                                    <div class="badge badge-{{ data.aggregated|yesno:'success,error' }} text-white">{{ data.aggregated|yesno:'Done,No' }}</div>
                                        <a href="{% url 'minibooks:aggregate_data' data.id %}" class="btn btn-info btn-sm">재통계화</a>
                                        <a 
                                            hx-get="{% url 'minibooks:aggregate_data_result' data.id %}" 
                                            hx-target="#general_modal" 
                                            hx-swap="outerHTML" 
                                            hx-trigger="click" 
                                            hx-class="block" 
                                            class="btn btn-sm btn-info">맛보기</a>
                                    
                                    {% endif %}  
                                    <a href="{% url 'minibooks:aggregate_data_weekday' data.id %}" class="btn btn-info btn-sm">Weekly Stat</a>
                                  </td>
                                  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                      <button 
                                          onclick="base_modal.showModal()"
                                          class="btn btn-sm btn-info" 
                                          hx-get="{% url 'minibooks:partial_tracking' data.id %}"
                                          hx-trigger="click"
                                          hx-target="#base_modal"                                          
                                          >Tracking</button>
                                      <button
                                          hx-get="{% url 'minibooks:snippet_reportmaster' data.id %}"
                                          hx-target="#general_modal"
                                          hx-swap="outerHTML"
                                          hx-trigger="click"
                                          hx-class="block"
                                          class="btn btn-sm">View
                                      </button>
                                      
                                      <button
                                        onclick="base_modal.showModal()"
                                        class="btn btn-sm btn-error"
                                        hx-get="{% url 'minibooks:history_delete' data.id %}"
                                        hx-trigger="click"
                                        hx-target="#base_modal"
                                        hx-swap="innerHTML"
                                        >Del</button>
                                  </td>
                              </tr>
                          {% empty %}

                          {% endfor %}
              
                              <!-- More people... -->
                          </tbody>
                          <tfoot>
                              <tr>
                                  <td colspan="11" class="text-center text-gray-500 py-4">
                                    {% if upload_histories.has_other_pages %}
                                        <nav class="inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                                            {% if upload_histories.has_previous %}
                                                <a href="?page={{ upload_histories.previous_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" aria-label="Previous">
                                                    &laquo;
                                                </a>
                                            {% else %}
                                                <span class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-gray-100 text-sm font-medium text-gray-400" aria-disabled="true">
                                                    &laquo;
                                                </span>
                                            {% endif %}
                                            {% for num in upload_histories.paginator.page_range %}
                                                {% if upload_histories.number == num %}
                                                    <span class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-primary text-white text-sm font-medium">{{ num }}</span>
                                                {% elif num > upload_histories.number|add:'-3' and num < upload_histories.number|add:'3' %}
                                                    <a href="?page={{ num }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">{{ num }}</a>
                                                {% endif %}
                                            {% endfor %}
                                            {% if upload_histories.has_next %}
                                                <a href="?page={{ upload_histories.next_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50" aria-label="Next">
                                                    &raquo;
                                                </a>
                                            {% else %}
                                                <span class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-gray-100 text-sm font-medium text-gray-400" aria-disabled="true">
                                                    &raquo;
                                                </span>
                                            {% endif %}
                                        </nav>
                                    {% endif %}
                                  </td>
                              </tr>
                      </table>
                  </div>
                  
                </div>
            </div>
        </div>
    </div>

</section>
<div id="general_modal" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    
</div>
  
    
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}


