<dialog id="progress_modal" class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">진행률 {{ magam_id }} / {{ rule_id }}</a>
            </h2>
            <form method="dialog">
                <!-- if there is a button, it will close the modal -->
                <button class="btn">Close</button>
            </form>
        </div>
        <div
            hx-get="{ url 'minibooks:magam_apply_rule_progress_check' magam_id=1 rule_id=1 }"
            hx-trigger="every 1000ms"
            hx-target="this"
            hx-swap="innerHTML">
            <progress class="progress progress-primary w-full" value="{{ i }}" max="100"></progress>
            <p class="mt-4">{{ i }}건  남았습니다. </p>
        </div>
    
    </div>
  </dialog>

