{% load static %}
<style>
    .progress-wrapper { width: 420px; height: 18px; background: #eee; border-radius: 9px; overflow: hidden; }
    .progress-bar { height: 100%; width: 0%; background: #68a9ef; } /* library defaults use this color */
    .muted { color: #666; font-size: .9em; }
</style>
<section id="general_modal" class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">작업내역 Tracking</a>
            </h2>
            <div class="modal-action">
                <form method="dialog">
                  <!-- if there is a button, it will close the modal -->
                  <button class="btn">Close</button>
                </form>
              </div>
        </div>
        <div class="overflow-x-auto overflow-y-auto shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="table table-sm">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">ID</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Created</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">작업자</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">작업명</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">결과</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                {% for data in rs_tracking %}
                    <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ data.id }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.created_at }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.user }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                            {{ data.action }}
                        </td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.result }}</td>
                    </tr>
                {% empty %}

                {% endfor %}
    
                    <!-- More people... -->
                </tbody>
            </table>
        
        </div>
    </div>
    <div id="agg_detail_modal" class="modal">
        <div class="modal-box">
        </div>
    </div>
    <div id="bottom_point" class="modal">
        <div class="modal-box">
        </div>
    </div>
    <div class="progress-wrapper" style="margin-top:12px;">
        <div id="progress-bar" class="progress-bar">&nbsp;</div>
    </div>
    <div id="progress-bar-message">Waiting for task to start...</div>
    <div id="celery-result" class="muted"></div>

    <!-- The library JS -->
    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>

    <script>
        // === Option A: task_id provided by the view ===
        {% if task_id %}
        document.addEventListener("DOMContentLoaded", function () {
            var url = "{% url 'celery_progress:task_status' task_id %}";
            CeleryProgressBar.initProgressBar(url, {
            // optional hooks:
            onResult: function (el, result) {
                el.textContent = JSON.stringify(result);
            }
            });
        });
        {% endif %}
    </script>   
  </section>

