{% load crispy_forms_tags %}

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">Report Data (total:{{ total_rows }})</a>
            </h2>
            <a href="#"
                hx-get="{% url 'minibooks:index' %}"
                hx-trigger="click"
                hx-target="#main_area"
                hx-swap="outerHTML"
                class="btn">Close</a>
        </div>
        <div class=" shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="table table-sm">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">ID</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">병원</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">병원ID</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">판독의</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">판독의ID</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Modality</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Modality ID</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Requested</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Datatime</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Approved</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Datatime</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">PACS</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Platform</th>
                        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Verified</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200 bg-white">
                {% for data in rs %}
                    <tr>
                        <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{ data.id }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.apptitle }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{% if data.company %}{{ data.company }}{% else %}{% endif %}</td>

                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.radiologist }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{% if data.provider %}{{ data.provider }}{% else %}{% endif %}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.equipment }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{% if data.amodality %}{{ data.amodality }}{% else %}{% endif %}</td>
                        
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.requestdttm }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{% if data.requestdt %}{{ data.requestdt }}{% else %}{% endif %}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.approveddttm }}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{% if data.approvedt %}{{ data.approvedt }}{% else %}{% endif %}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ data.pacs }}</td>

                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{% if data.platform %}{{ data.platform }}{% else %}{% endif %}</td>
                        <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                            {% if data.verified %}
                                <span class="badge badge-success">{{ data.verified }}</span>
                            {% else %}
                                <span class='badge badge-error'  alt="{{ data.unverified_message }}">{{ data.verified }}</span>
                            {% endif %}
                            
                            
                        </td>
                    </tr>
                {% empty %}

                {% endfor %}
    
                    <!-- More people... -->
                </tbody>
            </table>
        
        </div>
    </div>
  </section>
    