{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load widget_tweaks %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Human IC on Cloud</h2>
    </div>
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form method="post" action="{% url 'account_login' %}" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="mb-4">
                <label for="{{ form.login.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                    {% trans "Username" %}
                </label>
                
                {{ form.login|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                {{ form.login.errors }}
            </div>
            <div class="mb-6">
                <label for="{{ form.password.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-2">
                    {% trans "Password" %}
                </label>
                
                {{ form.password|add_class:"shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" }}
                {{ form.password.errors }}
            </div>
            <div class="flex items-center justify-between mt-4">
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    {% trans "Sign In" %}
                </button>
                <a type="submit" href="{% url 'web:home' %}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                     Cancel
                </a>
                
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block extra_body %}
    {{ block.super }}
    {% if PASSKEY_LOGIN_ENABLED %}
        {% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
    {% endif %}
{% endblock %}
