{% extends 'app_base.html' %}
{% load custom_filters %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
<section class="col-span-12 w-full rounded-2xl p-4">
        <div class="w-full flex justify-center">
            <div class="card bg-base-100 w-92 shadow-xl">
                <form class="space-y-6" method="POST" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    <div class="card-body">
                        <h2 class="card-title text-center my-4">로그아웃 하시겠습니까?</h2>
                        <p class="text-start mt-2">로그아웃을 하시면 다시 로그인을 해야합니다.</p>
                        <button type="submit" class="flex justify-center rounded-md bg-indigo-600 mt-8 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Log out</button>
                        <a href="{% url 'briefing:index' %}" class="btn btn-sm rounded-md bg-slate-400 px-3 py-1.5 text-sm font-semibold leading-6 text-black shadow-sm hover:bg-slate-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-100">Cancel</a>
                        
                    
                    </div> 
                </form>
                
            </div>
        </div>  
</section>



{% endblock content %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}
