 <div id="chat-content" class="h-full overflow-y-auto p-4 pb-36">
          <div class="card card-compact bg-base-100 shadow-sm mb-4">
            <div class="card-body">
              <h3 class="card-title">{{ staff.first_name }} {{ staff.last_name }}</h3>
              <p class="text-gray-600">의뢰서 내용이 여기에 표시됩니다.</p>
            </div>
            <div class="card-body overflow-y-auto max-h-180 p-3 mb-5 pb-10">
              <!-- Incoming Message -->
              <div class="flex mb-4 cursor-pointer">
                <div class="w-9 h-9 rounded-full flex items-center justify-center mr-2">
                  <img src="https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="User Avatar" class="w-8 h-8 rounded-full">
                </div>
                <div class="flex max-w-96 bg-white rounded-lg p-3 gap-3">
                  <p class="text-gray-700">Hey Bob, how's it going?</p>
                </div>
              </div>
              
              <!-- Outgoing Message -->
              <div class="flex justify-end mb-4 cursor-pointer">
                <div class="flex max-w-96 bg-indigo-500 text-white rounded-lg p-3 gap-3">
                  <p>Hi Alice! I'm good, just finished a great book. How about you?</p>
                </div>
                <div class="w-9 h-9 rounded-full flex items-center justify-center ml-2">
                  <img src="https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="My Avatar" class="w-8 h-8 rounded-full">
                </div>
              </div>
              <!-- Outgoing Message -->
              <div class="flex justify-end mb-4 cursor-pointer">
                <div class="flex max-w-96 bg-indigo-500 text-white rounded-lg p-3 gap-3">
                  <p>Hi Alice! I'm good, just finished a great book. How about you?</p>
                </div>
                <div class="w-9 h-9 rounded-full flex items-center justify-center ml-2">
                  <img src="https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="My Avatar" class="w-8 h-8 rounded-full">
                </div>
              </div>
               <div class="flex mb-4 cursor-pointer">
                <div class="w-9 h-9 rounded-full flex items-center justify-center mr-2">
                  <img src="https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="User Avatar" class="w-8 h-8 rounded-full">
                </div>
                <div class="flex max-w-96 bg-white rounded-lg p-3 gap-3">
                  <p class="text-gray-700">Hey Bob, how's it going?</p>
                </div>
              </div>
              <!-- Outgoing Message -->
              <div class="flex justify-end mb-4 cursor-pointer">
                <div class="flex max-w-96 bg-indigo-500 text-white rounded-lg p-3 gap-3">
                  <p>Hi Alice! I'm good, just finished a great book. How about you?</p>
                </div>
                <div class="w-9 h-9 rounded-full flex items-center justify-center ml-2">
                  <img src="https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="My Avatar" class="w-8 h-8 rounded-full">
                </div>
              </div>
               <div class="flex mb-4 cursor-pointer">
                <div class="w-9 h-9 rounded-full flex items-center justify-center mr-2">
                  <img src="https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="User Avatar" class="w-8 h-8 rounded-full">
                </div>
                <div class="flex max-w-96 bg-white rounded-lg p-3 gap-3">
                  <p class="text-gray-700">Hey Bob, how's it going?</p>
                </div>
              </div>
              <!-- Outgoing Message -->
              <div class="flex justify-end mb-4 cursor-pointer">
                <div class="flex max-w-96 bg-indigo-500 text-white rounded-lg p-3 gap-3">
                  <p>Hi Alice! I'm good, just finished a great book. How about you?</p>
                </div>
                <div class="w-9 h-9 rounded-full flex items-center justify-center ml-2">
                  <img src="https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="My Avatar" class="w-8 h-8 rounded-full">
                </div>
              </div>
              <!-- Outgoing Message -->
              <div class="flex justify-end mb-4 cursor-pointer">
                <div class="flex max-w-96 bg-indigo-500 text-white rounded-lg p-3 gap-3">
                  <p>Hi Alice! I'm good, just finished a great book. How about you?</p>
                </div>
                <div class="w-9 h-9 rounded-full flex items-center justify-center ml-2">
                  <img src="https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="My Avatar" class="w-8 h-8 rounded-full">
                </div>
              </div>
               <div class="flex mb-4 cursor-pointer">
                <div class="w-9 h-9 rounded-full flex items-center justify-center mr-2">
                  <img src="https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="User Avatar" class="w-8 h-8 rounded-full">
                </div>
                <div class="flex max-w-96 bg-white rounded-lg p-3 gap-3">
                  <p class="text-gray-700">Hey Bob, how's it going?</p>
                </div>
              </div>
              <!-- Outgoing Message -->
              <div class="flex justify-end mb-4 cursor-pointer">
                <div class="flex max-w-96 bg-indigo-500 text-white rounded-lg p-3 gap-3">
                  <p>Hi Alice! I'm good, just finished a great book. How about you?</p>
                </div>
                <div class="w-9 h-9 rounded-full flex items-center justify-center ml-2">
                  <img src="https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="My Avatar" class="w-8 h-8 rounded-full">
                </div>
              </div>
               <div class="flex mb-4 cursor-pointer">
                <div class="w-9 h-9 rounded-full flex items-center justify-center mr-2">
                  <img src="https://placehold.co/200x/ffa8e4/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="User Avatar" class="w-8 h-8 rounded-full">
                </div>
                <div class="flex max-w-96 bg-white rounded-lg p-3 gap-3">
                  <p class="text-gray-700">Hey Bob, how's it going?</p>
                </div>
              </div>
              <!-- Outgoing Message -->
              <div class="flex justify-end mb-4 cursor-pointer">
                <div class="flex max-w-96 bg-indigo-500 text-white rounded-lg p-3 gap-3">
                  <p>Hi Alice! I'm good, just finished a great book. How about you?</p>
                </div>
                <div class="w-9 h-9 rounded-full flex items-center justify-center ml-2">
                  <img src="https://placehold.co/200x/b7a8ff/ffffff.svg?text=ʕ•́ᴥ•̀ʔ&font=Lato" alt="My Avatar" class="w-8 h-8 rounded-full">
                </div>
              </div>
            </div>

            <div class="card-actions w-full p-4 border-t border-gray-200">
              <form method="post" action="" class="w-full">
                {% csrf_token %}
                <div class="flex w-full ">
                    <input type="text" placeholder="Type a message..." class="w-full p-2 rounded-md border border-gray-400 focus:outline-none focus:border-blue-500">
                    <button class="bg-indigo-500 text-white px-4 py-2 rounded-md ml-2">Send</button>
                </div>
              </form>
              
            </div>
          </div>
        </div>