{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    {% include 'dashboard/header_dashboard.html' %}
{% endblock %}

{% block content %}

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">Change password</a>
            </h2>
            <div class="grow">
                <a class="btn btn-primary" href="{% url 'dashboard:index' %}">Go to home</a>
            </div>
        </div>
    </div>
    <div class="card-body grow-0">
        <div class="flex flex-column gap-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy}}
                <input class="btn btn-primary mt-2" type="submit" value=" Save ">
            </form>
        </div>
    </div>
</section>

{% endblock content %}

{% block aside %}

	{% include 'dashboard/aside.html' %}
	
{% endblock %}