{% extends 'app_base.html' %}
{% load widget_tweaks %}

{% block header %}
{% include 'app_base_header.html' %}
{% endblock %}

{% block content %}

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-4">
    
    <div class="card-body h-full">
        <div class="flex flex-col items-center justify-center p-4 space-y-4">
            <div class="flex items-center justify-center bg-gray-200 rounded-full">
              {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.url }}" alt="avatar" class="w-24 h-24 rounded-full">
              {% else %}
                <div class="avatar online placeholder">
                  <div class="bg-neutral text-neutral-content w-16 rounded-full">
                    <span class="text-xl">{{ user.profile.real_name|slice:":1" }}</span>
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="flex flex-col items-center justify-center space-y-2">
                <h2 class="text-xl font-semibold">{{ user.username }} / {{ user.profile.real_name }}</h2>
                
            </div>
        </div>
    </div>
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-8 h-screen">
    <div class="card-body ">
        <div class="w-full">
            <div class="flex flex-col md:flex-row justify-between w-2/3">
                <h2 class="card-title ms-4">
                  Change Password
                </h2>
            </div>
        </div>
    </div>
    <div id="password_box" class="card-body h-full">
        
            <form method="post" hx-post="{% url 'accounts:password_change' %}" hx-target="#main_area" hx-swap="outerHTML">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="flex flex-col ms-4 w-full">  
                    <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">현재 패스워드</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            {{ form.oldpassword|add_class:"input input-bordered input-sm w-40" }} 
                            {% if form.oldpassword.errors %}
                                <div class="text-xs text-red-500">{{ form.oldpassword.errors }}</div>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">새로운 패스워드</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            {{ form.password1|add_class:"input input-bordered input-sm w-40" }}
                            {% if form.password1.errors %}
                                <div class="text-xs text-red-500">{{ form.password1.errors }}</div>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">새로운 패스워드 확인</dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                            {{ form.password2|add_class:"input input-bordered input-sm w-40" }}
                            {% if form.password2.errors %}
                                <div class="text-xs text-red-500">{{ form.password2.errors }}</div>
                            {% endif %}
                        </dd>
                    </div>
                    <div class="divider"></div>
                    <div class="px-4 py-2 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                        <dt class="text-sm font-medium leading-6 text-gray-900">
                            <button type="submit" class="btn btn-primary btn-sm text-white">Save Password</button>
                            <button type="button" onclick="window.history.back()" class="btn btn-warning btn-sm">Cancel</button>
                        </dt>
                        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        </dd>
                    </div>
                </div>
            </form>
       
    </div>
</section>
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}
