{% load humanize %}
{% for month in amonth %}
<div id="month_{{month.name}}" class="month border border-gray-300 rounded-lg p-2">
    <h3 class="text-center font-bold">{{ month.name }} new</h3>
    <div class="grid grid-cols-7 gap-1 mt-2 text-center">
        {% for day_num, day_name in week_days %}
            {% if day_num == 0 %}
                <span class="font-semibold bg-red-200">{{ day_name|slice:":1"|title }}</span>
            {% elif day_num == 6 %}

                <span class="font-semibold bg-blue-200">{{ day_name|slice:":1"|title }}</span>
            {% else %}

                <span class="font-semibold">{{ day_name|slice:":1"|title }}</span>
            {% endif %}
        {% endfor %}

        {% for _ in month.start_day_padding %}
            <span></span>
        {% endfor %}

        {% for day in month.days %}
            {% if day.date|date:'Y-m-d' in selected_holidays %}
                <button class="btn btn-sm btn-primary w-full h-10 rounded bg-red-500 text-white"
                    data-date="{{ day.date|date:'Y-m-d' }}"
                    {% if day.date < today_date %} disabled {% endif %}
                    hx-get="{% url 'dashboard:holiday_remove' %}?month_name={{month.name}}&hdate={{ day.date|date:'Y-m-d' }}"
                    hx-trigger="click"
                    hx-target="#month_{{month.name}}"
                    hx-swap="outerHTML"
                >
                    {{ day.day }}
            </button>
            {% else %}
                <button class="btn btn-sm w-full h-10 rounded {{ day.is_today|yesno:'bg-blue-500 text-white,text-gray-700' }}"
                    data-date="{{ day.date|date:'Y-m-d' }}"
                    {% if day.date < today_date %} disabled {% endif %}
                    hx-get="{% url 'dashboard:holiday_create' %}?hdate={{ day.date|date:'Y-m-d' }}"
                    hx-trigger="click"
                    hx-target="#month_{{month.name}}"
                    hx-swap="outerHTML"
                    >
                {{ day.day }}
            </button>
            {% endif %}
            
        {% endfor %}
    </div>
</div>
{% endfor %}
    