{% load humanize %}
{% load custom_filters %}

<div class="card-body"
    id="cfile_list_box"  
    hx-trigger="CustomerfilesChanged from:body"
    hx-get="{% url 'customer:cfiles' company.id %}" 
    hx-target="this"
    hx-swap="cfile_list_box"
>
    <div class="flex justify-between gap-2">
        <h2 class="card-title grow">
            Customer Files
        </h2>
        <div>
            <a 
                href="#" 
                class="btn btn-primary btn-sm"
                onclick="base_modal.showModal()""
                hx-get="{% url 'customer:cfile_upload' company.id %}"
                hx-trigger="click"
                hx-target="#base_modal"
                >Upload Files</a>
        </div>
    </div>

    <div class="py-6 mb-4 align-top ">
        <ul class="align-top">
        {% for hr in cfiles %}
            <form 
                hx-delete="{% url 'customer:cfile_delete' company.id hr.id %}" 
                hx-trigger="submit"
                hx-confirm="Are you sure you want to delete this file?"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                >
            {% csrf_token %}
            <li class=" flex flex-row justify-between mb-1">
                <span>{{ hr.name }}</span>
                <a href="{{ hr.file.url }}" target="_blank">{{ hr.file_name|truncatechars:30 }}</a>
                <button type="submit" class="btn btn-xs btn-error">x</button>
            </li>
            </form> 
        {% empty %}
            <li>No files</li>
        {% endfor %}
        </ul>
    </div>
</div>