
{% load widget_tweaks %}
<section id="cfiles_box" class="card bg-base-100 w-96 overflow-hidden shadow-sm xl:col-span-6 ">
    <div class="card-body">
        <h2 class="card-title mb-4"> Upload Files ({{ company.id }})</h2>
       
        <div class="flex flex-col gap-2">
            <form hx-post="{% url 'customer:cfile_upload' company.id %}" 
                hx-target="#cfiles_box"  
                hx-swap="outerHTML"    
                hx-trigger="submit"
                id="cfile_upload_form"
                enctype="multipart/form-data"
                class = "flex flex-col gap-2"
            >
                {% csrf_token %}
                <input type="hidden" name="provider" value="{{ company.id }}">
                <div>
                    {% render_field form.name class="input input-sm input-bordered w-full" placeholder="제목" %}
                    {% if form.name.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ form.name.errors }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <input 
                    type="file" 
                    name="file" 
                    id="file" 
                    class="file-input file-input-bordered w-full max-w-xs file-input-sm" multiple>
                    {% if form.file.errors %}
                        <div class="text-red-500 text-sm mt-1">
                            {{ form.file.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="form-control">
                    <button type="submit" class="btn btn-primary btn-sm">Upload</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById('cfiles_box').addEventListener('htmx:beforeSwap', function(event) {
            if (event.detail.elt.id === 'cfiles_box') {
                // Check if the form submission was successful
                if (event.detail.xhr.status === 204) {
                    const form = document.querySelector('cfile_upload_form');
                    if (form) {
                        form.reset();  // Reset the form fields
                    }
                    // If successful, close the modal
                    base_modal.close();
                    console.log("Form submission successful");
                } else {
                    // Handle other status codes or failed submission
                    console.log("Form submission failed or other status");
                }
            }
        });
    </script>
</section>