{% load humanize %}
{% load custom_filters %}

<div class="card-body grow-0 overflow-y-auto h-96"
    id="clogs_box"  
    hx-trigger="CustomerLogChanged from:body"
    hx-get="{% url 'customer:clogs' company.id %}" 
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="flex justify-between gap-2">
        <h2 class="card-title grow">
            상담 기록
        </h2>
        <div>
            <a href="#"
                onclick="base_modal.showModal()"
                hx-get="{% url 'customer:new_clog' company.id %}"
                hx-trigger="click"
                hx-target="#base_modal"
                hx-swap="innerHTML" 
                class="btn btn-sm btn-primary">New Log</a>
        </div>
    </div>
    <div class="overflow-y-auto mt-6">
        <table class="table table-sm w-full mb-8">
            <thead class="border-b-2 border-t-2 ">
                <tr>
                    <td>User</td>
                    <td>Date</td>
                    <td>Level</td>
                    <td>Log</td>
                    <td>-</td>
                </tr>
            </thead>
            <tbody class="border-b-2">
                {% for clog in clogs %}
                <tr>
                    <td>{{ clog.updated_by}}</td>
                    <td>{{ clog.created_at|naturaltime }}</td>
                    <td>{{ clog.level}}</td>
                    <td class=""><div class="w-96">{{ clog.log|linebreaksbr }}</div></td>
                    <td class="text-right">
                        {% if clog.created_at|is_older_than_24_hours %}
                            <a href="#" class="btn btn-xs btn-ghost disabled">-</a>
                        {% else %}
                            <a href="#" 
                                class="btn btn-xs btn-error"
                                hx-get="{% url 'customer:delete_clog' company.id clog.id %}"
                                hx-trigger="confirmed"
                                hx-target="#clogs_box"
                                onClick="Swal.fire({title: '확인요청', text:'삭제하시겠습니까?',showCancelButton: true}).then((result)=>{
                                    if(result.isConfirmed){
                                    htmx.trigger(this, 'confirmed');  
                                    } 
                                })"
                            >X</a>
                        {% endif %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="5">No data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>