<div class="card-body grow-0"
    id="contracts_box"  
    hx-trigger="ContractChanged from:body"
    hx-get="{% url 'customer:contracts' company.id %}" 
    hx-target="this"
    hx-swap="outerHTML"
>
    <div class="flex justify-between gap-2">
        <h2 class="card-title grow">
            협력업체 정보
        </h2>
        <div>
            <a href="#"
                onclick="base_modal.showModal()"
                hx-get="{% url 'customer:new_contract' company.id %}"
                hx-trigger="click"
                hx-target="#base_modal"
                hx-swap="innerHTML" 
                class="btn btn-sm btn-primary"> 새 계약 등록 </a>
        </div>
    </div>
    <div class="overflow-y-auto mt-6">
        <table class="table table-sm mb-8">
            <thead class="border-b-2 border-t-2 ">
                <tr>
                    <td>업체명</td>
                    <td>용도</td>
                    <td>방법</td>
                    <td>요율</td>
                    <td>세부</td>
                    <td>-</td>
                </tr>
            </thead>
            <tbody class="border-b-2">
                {% for contract in contracts %}
                <tr>
                    <td>{{ contract.service_company}}</td>
                    <td>{{ contract.name}}</td>
                    <td>{{ contract.category}}</td>
                    <td>{{ contract.rate}}</td>
                    <td>{{ contract.rule}}</td>
                    <td class="text-right">
                        <a href="#" class="btn btn-xs btn-error"
                            hx-delete="{% url 'customer:delete_contract' company.id contract.id %}"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-confirm="Are you sure you want to delete this record?"
                            hx-trigger="click"
                            hx-target="#contracts_box"
                        >X</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="6">No data</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>