{% extends 'app_base.html' %}
{% load custom_filters %}
{% load humanize %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
  <div class="card-body grow-0">
    <div class="flex justify-between gap-2 w-full">
      <div class="flex flex-row justify-between w-2/3">
        <h2 class="card-title ">
            고객 세부 정보
        </h2>
        <div class="flex flex-col">
            <form method="get" action="{% url 'customer:index' %}">
                <label class="input input-bordered flex items-center gap-2">
                    <input type="text" class="grow" placeholder="Search" name="q" />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 16 16"
                      fill="currentColor"
                      class="h-4 w-4 opacity-70">
                      <path
                        fill-rule="evenodd"
                        d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                        clip-rule="evenodd" />
                    </svg>
                  </label>
            </form>
        </div>
    </div>
    <div class="text-end me-4 w-1/3">
          <a href="{% url 'customer:update' company.id %}" class="btn btn-primary btn-sm text-white w-16">Edit</a> 
          <a href="{% url 'customer:index' %}" class="btn btn-sm btn-primary text-white w-16">List</a>
      </div>
    </div>  
  </div>  
</section>
<div id="stat_panel" class="col-span-12 w-full">
  <div class="grid grid-cols-12 grid-rows-[min-content] gap-y-6 lg:gap-x-6 lg:gap-y-6">

    <section class="card card-compact col-span-8 px-4 overflow-hidden bg-base-100 shadow-sm xl:col-span-8">
      <div class="card-body grow-0">
        <div class="grid grid-cols-4 gap-2">
          <div class="">
            <label class="label">
              <span class="label-text">병원명</span>
            </label>
            <p class="p-2 font-semibold bg-gray-100 rounded-lg text-md">{{ company.business_name}}  ({{ company.id}})</p>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">대표자명</span>
            </label>
            <p class="p-2 font-semibold bg-gray-100 rounded-lg text-md">{{ company.president_name|handle_none}}</p>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">사업자번호</span>
            </label>
            <p class="p-2 font-semibold bg-gray-100 rounded-lg text-md">{{ company.ein|handle_none}}</p>
          </div>
          <div class="grid grid-cols-1 gap-2">
            <div class="form-control">
              <label class="label">
                <span class="label-text">의료기관이면 True</span>
              </label>
              <p class="p-2 font-semibold bg-gray-100 rounded-lg text-md">{{ company.is_clinic}}</p>
              
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">주소</span>
            </label>
            <p class="p-3 bg-gray-100 h-10">{{ company.full_address|handle_none}}</p>
          </div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">대표번호</span>
            </label>
            <p class="p-3 bg-gray-100 h-10">{{ company.office_phone|handle_none}}</p>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자</span>
            </label>
            <p class="p-2 font-semibold bg-gray-100 rounded-lg text-md">{{company.contact_person|handle_none}}</p>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자 이메일</span>
            </label>
            <p class="p-2 font-semibold bg-gray-100 rounded-lg text-md">{{ company.office_email|handle_none}}</p>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자 전화번호</span>
            </label>
            <p class="p-2 font-semibold bg-gray-100 rounded-lg text-md">{{ company.office_fax|handle_none}}</p>
          </div>
        </div>
        <div class="grid grid-cols-2 gap-2 ">
          <div class="form-control mb-4">
            <label class="label">
              <span class="label-text">Tags</span>
            </label>
            <div class="flex flex-row gap-2 ">
              {% for tag in company.tags.all %}
              <span class="me-2">
                <span>{{ tag.name }}</span>
                <a href="{% url 'customer:tag_delete' company.id tag.id %}?tag_slug={{ tag.slug }}" class="btn btn-xs">x</a>
              </span>
              {% empty %}
              <span class="px-2">No Tags</span>
              {% endfor %}
            </div>
          </div>
          <div class="flex flex-row justify-end p-4">
            <a href="{% url 'customer:update' company.id %}" class="self-align-bottom btn btn-primary btn-sm text-white w-16">Edit</a> 
          </div>
      </div>
		</section>
    <section class="card card-compact col-span-4 overflow-hidden bg-base-100 shadow-sm xl:col-span-4">
      {% include "customer/contacts.html" %}
    </section>  
    <section class="card card-compact col-span-12 overflow-hidden shadow-sm xl:col-span-8">
      <div role="tablist" class="tabs tabs-lifted min-h-96">
        <input type="radio" name="customer_tab" role="tab" class="tab w-24 min-w-24" checked="checked" aria-label="상당기록" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 min-h-96">
          {% include "customer/clogs.html" %}
        </div>
        <input type="radio" name="customer_tab" role="tab" class="tab me-1 min-w-24" aria-label="협력업체" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 min-h-96">
          {% include "customer/contracts.html" %}
        </div>
        <input type="radio" name="customer_tab" role="tab" class="tab me-1 w-24" aria-label="거래내역" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 min-h-96">
          {% include "customer/revenues.html" %}
        </div>
        <input type="radio" name="customer_tab" role="tab" class="tab me-1 w-24" aria-label="파일들" />
        <div role="tabpanel" class="tab-content bg-base-100 border-base-300 rounded-box p-6 min-h-96">
          {% include "customer/cfiles.html" %}
        </div>
       
      </div>
    </section>
    <section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-4">
      {% include "crm/opps.html" %}
    </section>  
  </div>
</div>
{% endblock %}

{% block aside %}

	  {% include 'app_base_aside.html' %}
	
{% endblock %}


