{% extends 'app_base.html' %}
{% load custom_filters %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0 max-w-3xl">
        <div class="flex justify-between gap-2 w-full">
            <div class="flex flex-row justify-between gap-4">
                <h2 class="card-title pl-4">
                    고객 병원들 목록
                </h2>
                <div class="flex justify-end items-center w-80 pt-2 rounded-lg">
                    <form method="get" action="{% url 'customer:index' %}">
                    <div class="flex flex-row gap-2">
                        <input type="text" class="w-full input-sm rounded-lg me-1" placeholder="병원명, 병원장, 사업자번호 검색" name="q" />
                        <input type="submit" class="btn btn-primary btn-sm" value="검색" />
                    </div>
                    </form>
                </div>
            </div>
            <div class="text-start me-4 pt-2">
                <a href="{% url 'customer:new' %}" class="btn btn-primary btn-sm ">새 고객 등록 </a> 
            </div>
        </div>
    </div>
</section>
<section class="card col-span-9 overflow-hidden bg-base-100 shadow-sm xl:col-span-9">
    <div class="card-body grow-0">
        <table class="min-w-full divide-y divide-gray-500">
            <thead >
                <tr>
                    <th scope="col" width:"4px;"></th>
                    <th scope="col" class="px-3 py-2  text-left text-sm font-semibold sm:pl-2 lg:pl-2">병원명</th>
                    <th scope="col" class="px-3 py-2  text-left text-sm font-semibold sm:pl-2 lg:pl-2">대표자</th>
                    <th scope="col" class="px-3 py-2  text-left text-sm font-semibold sm:pl-2 lg:pl-2">연락처</th>
                    <th scope="col" class="px-3 py-2  text-left text-sm font-semibold sm:pl-2 lg:pl-2">
                        Email
                       
                    </th>
                    <th scope="col" class="px-3 py-2  text-left text-sm font-semibold sm:pl-2 lg:pl-2">시/도</th>
                    <th scope="col" class="px-3 py-2  text-left text-sm font-semibold sm:pl-2 lg:pl-2">Tags</th>
                </tr>
            </thead>
            <tbody id="company_list" class="divide-y divide-gray-300">
            {% for company in page_obj %}
                <tr data-company-id="{{company.id}}" class=" hover:bg-gray-500 hover:text-gray-100 hover:cursor-pointer"
                    onclick="location.href='{% url 'customer:detail' company.id %}'" 
                >
                    <td class="flex flex-row items-center py-2" >
                        {% if company.is_tele %}
                        <div class="bg-primary h-4 w-1"></div>
                        {% endif %}
                        {% if company.is_collab %}
                        <div class="bg-secondary h-4 w-1"></div>
                        {% endif %}                        
                    </td>
                    <td class="whitespace-nowrap py-2 pr-3 text-sm font-medium sm:pl-2 " >
                        <div class="indicator">
                            {% if company.customuser %}
                                <span class="indicator-item text-xs">+</span>
                            {% endif %}
                            <div class="pe-2">{{ company.business_name|truncatechars:12 }}</div>
                        </div>
                    </td>
                    <td class="whitespace-nowrap px-3 py-2 text-sm "> {{ company.president_name|handle_none|handle_none|truncatechars:4 }}</td>
                    <td class="whitespace-nowrap px-3 py-2 text-sm"> {{ company.office_fax|handle_none }}</td>
                    <td class="whitespace-nowrap px-3 py-2 text-sm"> {{ company.office_email|handle_none|truncatechars:10 }}</td>
                    <td class="whitespace-nowrap px-3 py-2 text-sm">{{ company.city|handle_none|truncatechars:8 }}</td>
                    <td class="whitespace-nowrap px-3 py-2 text-sm">
                        <div class="flex flex-row flex-wrap gap-2">
                            {% for tag in company.tags.all %}
                            {{ tag.name }}&nbsp;
                            {% endfor %}
                            
                        </div>
                    </td>
                    
                </tr>
            {% empty %}

            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="">
                        <div class="flex flex-row justify-evenly px-6 py-3">
                            <div class="join">
                                <span class="join-item btn">
                                    Total: {{ page_obj.paginator.count }}
                                </span>
                                {% if emails %}
                                    <button id="btn_copy_emails" class="join-item btn" onclick="copyToClipboard('emails','btn_copy_emails')">Copy emails</button>
                                {% endif %}
                            </div>
                            <div>
                            </div>
                            <div id="emails" class="hidden">{{ emails }}</div>
                            <div class="join">
                                {% if page_obj.has_previous %}
                                    <a href="?q={{ request.GET.q }}&tag_slug={{ request.GET.tag_slug }}&page=1" class="join-item btn">First</a>
                                    <a href="?q={{ request.GET.q }}&tag_slug={{ request.GET.tag_slug }}&page={{ page_obj.previous_page_number }}" class="join-item btn">Previous</a>
                                {% endif %}
                                <span class="join-item btn">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="?q={{ request.GET.q }}&tag_slug={{ request.GET.tag_slug }}&page={{ page_obj.next_page_number }}" class="join-item btn">Next</a>
                                    <a href="?q={{ request.GET.q }}&tag_slug={{ request.GET.tag_slug }}&page={{ page_obj.paginator.num_pages }}" class="join-item btn">Last</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
      
    </div>
</section>
<section class="card col-span-3 overflow-hidden bg-base-100 shadow-sm xl:col-span-3">
    <div class="card-body grow-0">
        <div class="grid grid-cols-1 gap-2">
            <div class="flex flex-row justify-between">
                <input 
                    id="tag_search" 
                    name="q"
                    type="search" 
                    class="input input-bordered input-xs rounded-lg" 
                    placeholder="Search tags" 
                    hx-get="{% url 'customer:tag_search' %}?q={{ request.GET.q }}"
                    hx-target="#tag_list"
                    hx-trigger="keyup changed delay:500ms, search" 
                    hx-swap="outerHTML"
                    hx-sync="this:replace"
                />
            </div>
            <div class="overflow-y-auto h-92" style="height:548px;">
                {% include 'customer/partial_search_tag.html' %}
            </div>
        </div>
    </div>
</section>
<script>
    function copyToClipboard(vt,bt) {
        // Select the input element
        console.log(vt);
        console.log(bt);

        var copyText = document.getElementById(vt);
        var btnCopy = document.getElementById(bt);
      
        // Create a range object
        var range = document.createRange();
        range.selectNode(copyText);
      
        // Select the text
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
      
        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.innerText)
          .then(() => {
            // Alert the copied text
            // alert("Copied the text: " + copyText.innerText);
            btnCopy.innerHTML = 'Copied!';
            btnCopy.classList.remove('btn-secondary');
            //
          })
          .catch(err => {
            console.error('Failed to copy: ', err);
          });
    }
</script>
    
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}

