{% extends 'app_base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
  <div class="card-body grow-0">
      <div class="flex justify-between gap-2 w-full">
          <div class="flex flex-row justify-between w-2/3">
              <h2 class="card-title ">
                  새 고객 등록
              </h2>
              <div class="flex flex-col">
                  <form method="get" action="{% url 'customer:index' %}">
                      <label class="input input-bordered flex items-center gap-2">
                          <input type="text" class="grow" placeholder="Search" name="q" />
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 16 16"
                            fill="currentColor"
                            class="h-4 w-4 opacity-70">
                            <path
                              fill-rule="evenodd"
                              d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                              clip-rule="evenodd" />
                          </svg>
                        </label>
                  </form>
              </div>
          </div>
          <div class="text-end me-4 w-1/3">
              <a href="{% url 'customer:index' %}" class="btn btn-primary btn-sm text-white ">List</a> 
          </div>
          
      </div>
  </div>
</section>

    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
      <div class="card-body grow-0">
        <form method="POST" action="{% url 'customer:new'%}">
        {% csrf_token %}
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">병원명(필수)</span>
            </label>
            {% render_field form.business_name  class='input input-bordered input-sm font-mono' %}
            {% for error in form.business_name.errors %}
              <span class="text-red-500">{{ error }}</span>
            {% endfor %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">대표자명</span>
            </label>
            {% render_field form.president_name  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">사업자번호</span>
            </label>
            {% render_field form.ein  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">의료기관이면 Checked</span>
            </label>
            {% render_field form.is_clinic  class='checkbox checkbox-bordered ms-4 mt-2' %}
          </div>
           
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">주소</span>
            </label>
            {% render_field form.address  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">호</span>
            </label>
            {% render_field form.suite  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">시/도</span>
            </label>
            {% render_field form.city  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">우편번호</span>
            </label>
            {% render_field form.zipcode  class='input input-bordered font-mono input-sm' %}
          </div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">대표전화번호</span>
            </label>
            {% render_field form.office_phone  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자</span>
            </label>
            {% render_field form.contact_person  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자이메일</span>
            </label>
            {% render_field form.office_email  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자번호</span>
            </label>
            {% render_field form.office_fax  class='input input-bordered font-mono input-sm' %}
          </div>
        </div>
        <div class="grid grid-cols-2 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Tags</span>
            </label>
            {% render_field form.tags  class='input input-bordered font-mono input-sm' %}
          </div>
        </div>
        <div class="grid grid-cols-12 gap-2 py-4 mt-4">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <button type="button" class="btn btn-sm"
              hx-get="{% url 'customer:index' %}"
              hx-trigger="click"
              hx-target="#main_area"
              hx-swap="outerHTML"
              hx-history-push-url="true"
            >Cancel</button>
        </div>
      </div>
	</form>
		
	</section>
   
{% endblock %}

{% block aside %}

	  {% include 'app_base_aside.html' %}
	
{% endblock %}


