{% extends 'app_base.html' %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}

    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
        <div class="card-body grow-0">
            <div class="flex justify-between gap-2">
                <h2 class="card-title grow">
                고객 정보
                </h2>
            </div>
        </div>
        <div class="overflow-x-auto p-4">
            <table class="table">
                <tr>
                    <td>고려병원</td>
                    <td>김대표</td>
                </tr>
                <tr>
                    <td>010-1234-5678</td>
                    <td>kim@gmail.com</td>
                </tr>
                <tr>
                    <td colspan="2">서울시 강남구 서초동</td>
                </tr>
            </table>
        </div>
		
	</section>
    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
        <div class="card-body grow-0">
            <div class="flex justify-between gap-2">
                <h2 class="card-title grow">
                계약 정보
                </h2>
                <a href="#"
                hx-get="{% url 'customer:detail' 1205 %}"
                hx-trigger="click"
                hx-target="#main_area"
                hx-swap="outerHTML"
                hx-history-push-url="true"
                class="btn btn-sm hover:text-indigo-900"
                >수정하기</a>
                
            </div>
        </div>
        <div class="overflow-x-auto p-4">
            <table class="table">
                <tr>
                    <td>담당자</td>
                    <td>계약일</td>
                </tr>
                <tr>
                    <td>시작일</td>
                    <td>종료일</td>
                </tr>
            </table>
        </div>
        <form class="card-body" action="">
       
		<div class="">
            <table class="table">
                <thead>
                    <tr>
                        <td>서비스명</td>
                        <td>가격</td>
                        <td>=</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>MR</td>
                        <td>45,000</td>
                        <td><button class="btn btn-sm btn-primary">삭제</button></td>
                    </tr>
                    <tr>
                        <td>CT</td>
                        <td>35,000</td>
                        <td><button class="btn btn-sm btn-primary">삭제</button></td>
                    </tr>
                   
                    <tr>
                        <td><input type="text" placeholder="" required class="input input-bordered text-center font-mono" /></td>
                        <td><input type="text" placeholder="" required class="input input-bordered text-center font-mono" /></td>
                        <td><button class="btn btn-sm btn-primary">저장</button></td>
                    </tr>
                </tbody>
                
            </table>
			
		</div>
		
		</form>
		
	  </section>
{% endblock %}

{% block aside %}

	  {% include 'app_base_aside.html' %}
	
{% endblock %}


