{% load widget_tweaks %}
<div id="company_contract_create_box" class="modal-box card-body">
    <div class="modal-action justify-between  flex flex-row gap-2">
        <div class="ms-2 ">
            <h2 class="text-lg font-bold">새 계약 등록 {{ business_name }} ({{ company.id }})</h2>
        </div>
        <div class="flex flex-row gap-2">
           
        </div>
    </div>
    <div class="w-full">
        <form 
            hx-post="{% url 'customer:new_contract' company.id %}" 
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-swap="outerHTML" 
            hx-trigger="submit"
            hx-target="#company_contract_create_box"
            id="new_contract_form"
        >
      
            <div class="form-control py-2">
                <label for="id_modality" class="label">제목*</label>
                {{ form.name|add_class:"input input-bordered" }}
                <span class="text-xs text-red-500 ms-2">
                {{ form.name.errors }}
                </span>
            </div>
            <div class="flex flex-row gap-2">
                <div class="form-control py-2">
                    <label for="id_modality" class="label">협력업체*</label>
                    {{ form.service_company|add_class:"select select-bordered" }} 
                    <span class="text-xs text-red-500 ms-2">
                    {{ form.service_company.errors }}
                    </span>
                </div>
                <div class="form-control py-2">
                    <label for="id_modality" class="label">정액/정률*</label>
                    {{ form.category|add_class:"select select-bordered" }} 
                </div>
            </div>
           
            <div class="form-control py-2">
                <label for="id_target_value" class="label">Percent면 0~1 사이값. Flat fee 이면 0 입력*</label>
                {{ form.rate|add_class:"input input-bordered"|attr:"placeholder:0"|attr:"min:0"|attr:"max:1" }}
            </div>
            <div class="divider"></div>
            <div class="flex justify-end gap-2">
                <button type="submit" class="btn btn-primary btn-sm">Save</button>
                <form method="dialog">  
                    <button class="btn btn-warning btn-sm">Close</button>
                </form>              
            </div>
        </form>
        <script>
            document.getElementById('company_contract_create_box').addEventListener('htmx:beforeSwap', function(event) {
                if (event.detail.target.id === 'company_contract_create_box') {
                    // Check if the form submission was successful
                    console.log("Status:", event.detail.xhr.status);
                    console.log("Headers:", event.detail.xhr.getAllResponseHeaders());
                    if (event.detail.xhr.status === 204) {
                        // If successful, close the modal
                        base_modal.close();
                        console.log("Form submission successful");
                    } else {
                        // If there are validation errors, keep the modal open
                        console.log("Form submission failed with validation errors");
                    }
                }
            });

        </script>
    </div>  
</div>


