{% load widget_tweaks %}
<div id="company_contact_create_box" class="modal-box card-body w-92">
    <div class="modal-action justify-between  flex flex-row gap-2">
        <div class="w-92">
            New contact  ({{ company.id }})
        </div>
        <div class="flex flex-row gap-2">
            <form method="dialog">  
                <button class="btn btn-warning">Close</button>
            </form>
        </div>
    </div>
    <div class="card-body grow-0">
        <form 
          hx-post="{% url 'customer:new_contact' company.id %}" 
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-swap="outerHTML" 
          hx-trigger="submit"
          hx-target="#company_contact_create_box"
          id="new_contact_form"
        >
      
        <div class="form-control py-2">
            <label for="id_modality" class="label">성명*</label>
            {{ form.name|add_class:"input input-bordered" }}
            {{ form.name.errors }}
        </div>
        <div class="form-control py-2">
            <label for="id_modality" class="label">부서/직함</label>
            {{ form.title|add_class:"input input-bordered" }}
            <span class="text-xs text-red-500 ms-2">
            {{ form.title.errors }}
            </span>
        </div>
        <div class="form-control py-2">
            <label for="id_modality" class="label">Email</label>
            {{ form.email|add_class:"input input-bordered" }}
            <span class="text-xs text-red-500 ms-2">
            {{ form.email.errors }}
            </span>
        </div>
        <div class="form-control py-2">
            <label for="id_modality" class="label">휴대전화</label>
            {{ form.mobile|add_class:"input input-bordered" }}
            <span class="text-xs text-red-500 ms-2">
            {{ form.mobile.errors }}
            </span>
        </div>
        <div class="form-control py-2">
            <label for="id_modality" class="label">일반전화</label>
            {{ form.office_phone|add_class:"input input-bordered" }}
            <span class="text-xs text-red-500 ms-2">
            {{ form.office_phone.errors }}
            </span>
        </div>
        <div class="flex justify-end gap-2">
            <button type="submit" class="btn btn-primary">저장</button>              
        </div>
        </form>
        <script>
            document.getElementById('company_contact_create_box').addEventListener('htmx:beforeSwap', function(event) {
                if (event.detail.target.id === 'company_contact_create_box') {
                    // Check if the form submission was successful
                    console.log("Status:", event.detail.xhr.status);
                    console.log("Headers:", event.detail.xhr.getAllResponseHeaders());
                    if (event.detail.xhr.status === 204) {
                        // If successful, close the modal
                        base_modal.close();
                        console.log("Form submission successful");
                    } else {
                        // If there are validation errors, keep the modal open
                        console.log("Form submission failed with validation errors");
                    }
                }
            });

        </script>
    </div>  
</div>


