<ul class="border-2">
    {% for company in companies %}
        <li class="border-b-1" >
            <div class="flex flex-row justify-between w-64 p-2">
                <div>
                    {{ company.business_name }}
                </div>
                <div>
                    <a href="{% url 'customer:detail' company.id %}" class="btn btn-sm btn-primary w-16"> Select </a>
                </div>
            </div>
        </li>
        
    {% empty %}
        <li>
            No company found
        </li>
    {% endfor %}
</ul>