{% extends 'app_base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}

<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
  <div class="card-body grow-0 max-w-3xl">
      <div class="flex justify-between gap-2 w-full">
          <div class="flex flex-row justify-between gap-4">
              <h2 class="card-title pl-4">
                고객 세부정보 수정
              </h2>
              <div class="flex justify-end items-center w-80 pt-2 rounded-lg">
                <form method="get" action="{% url 'customer:index' %}">
                <div class="flex flex-row gap-2">
                    <input type="text" class="w-full input-sm rounded-lg me-1" placeholder="병원,대표,담당, ID,사업자번호.." name="q" />
                    <input type="submit" class="btn btn-primary btn-sm" value="검색" />
                </div>
                </form>
            </div>
          </div>
          <div class="text-start me-4 pt-2">
            <a href="{% url 'customer:index' %}" class="btn btn-sm btn-primary w-16">List</a>
          </div>
      </div>
  </div>
</section>
   

    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-9">
      <div class="card-body grow-0">
        <form method="POST" action="{% url 'customer:update' company.id %}">
        {% csrf_token %}
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">병원명</span>
            </label>
            {% render_field form.business_name class='input input-bordered font-mono input-sm' readonly="readonly" %}
            {% if form.business_name.errors %}
              <p class="text-red-500 text-xs italic">{{ form.business_name.errors }}</p>
            {% endif %}

          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">대표자명</span>
            </label>
            {% render_field form.president_name  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">사업자번호</span>
            </label>
            {% render_field form.ein  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control flex flex-col gap-3">
            <div>
              <label class="label">
                <span class="label-text">의료기관</span>
              </label>
              {% render_field form.is_clinic class="checkbox checkbox-bordered" %}
            </div>
            <div>
              <label class="label">
                <span class="label-text">원격판독</span>
              </label>
              {% render_field form.is_tele class="select select-bordered select-sm py-0 w-24" %}
            </div>
            <div>
              <label class="label">
                <span class="label-text">협진병원</span>
              </label>
              {% render_field form.is_collab class="select select-bordered select-sm py-0 w-24" %}
            </div>
            <div>
              <label class="label">
                <span class="label-text">협진계약</span>
              </label>
              {% render_field form.is_collab_contract class="select select-bordered select-sm py-0 w-24" %}
            </div>
          </div>
           
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">시/도</span>
            </label>
            {% render_field form.city  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">주소</span>
            </label>
            {% render_field form.address  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="grid grid-cols-2 gap-2">
            <div class="form-control">
              <label class="label">
                <span class="label-text">호</span>
              </label>
              {% render_field form.suite  class='input input-bordered font-mono input-sm' %}
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">우편번호</span>
              </label>
              {% render_field form.zipcode  class='input input-bordered font-mono input-sm' %}
            </div>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">대표전화</span>
            </label>
            {% render_field form.office_phone  class='input input-bordered font-mono input-sm' %}
          </div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자</span>
            </label>
            {% render_field form.contact_person  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자이메일</span>
            </label>
            {% render_field form.office_email  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자휴대폰</span>
            </label>
            {% render_field form.office_cellphone  class='input input-bordered font-mono input-sm' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">대표팩스</span>
            </label>
            {% render_field form.office_fax  class='input input-bordered font-mono input-sm' %}
          </div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control col-span-2">
            <label class="label">
              <span class="label-text">Tags</span>
            </label>
            {% render_field form.tags  class='input input-bordered font-mono input-sm' %}
            {% if form.tags.errors %}
              <p class="text-red-500 text-xs italic">{{ form.tags.errors }}</p>
            {% endif %}
          </div>
          <!-- <div class="form-control">
            <label class="label">
              <span class="label-text">원격판독병원 여부</span>
            </label>
            {% render_field form.is_tele class="select select-bordered select-sm py-0 " %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">협진병원 여부</span>
            </label>
            {% render_field form.is_collab class="select select-bordered select-sm py-0 " %}
          </div> -->
        </div>
        <div class="grid grid-cols-12 gap-2 py-4 mt-4">
            <button type="submit" class="btn btn-primary btn-sm">Save</button>
            <a class="btn btn-sm" href="{% url 'customer:detail' company.id %}">Cancel</a>
        </div>
      </div>
	</form>
		
	</section>
   
{% endblock %}

{% block aside %}

	  {% include 'app_base_aside.html' %}
	
{% endblock %}


