{% extends 'app_base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}
{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}

    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
        <div class="card-body grow-0">
            <div class="flex justify-between gap-2">
                <h2 class="card-title grow">
                  고객 정보
                </h2>
                <div>
                  <div>
                    <a 
                      href="#" 
                      class="btn btn-sm btn-primary w-24 align-end"
                      hx-get="{% url 'customer:update' company.id %}"
                      hx-trigger="click"
                      hx-target="#main_area"
                      hx-swap="outerHTML"
                      >Edit Mode</a>
                    <a 
                      hx-get="{% url 'customer:index' %}" 
                      hx-trigger="click"
                      hx-target="#main_area"
                      hx-swap="outerHTML"
                      hx-push-url="true"
                      class="btn btn-sm btn-primary w-16"
                    >List</a>
                  </div>
                </div>
            </div>
        </div>
    </section>

    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
      <div class="card-body grow-0">
        <form method="POST" action="{% url 'customer:update' company.id%}">
        {% csrf_token %}
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">병원명</span>
            </label>
            {% render_field form.business_name  class='input input-bordered font-mono' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">대표자명</span>
            </label>
            {% render_field form.president_name  class='input input-bordered font-mono' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">사업자번호</span>
            </label>
            {% render_field form.ein  class='input input-bordered font-mono' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">SystemID</span>
            </label>
            {% render_field form.id  class='input input-bordered font-mono' %}
          </div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">주소</span>
            </label>
            {% render_field form.address  class='input input-bordered font-mono' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">호</span>
            </label>
            {% render_field form.suite  class='input input-bordered font-mono' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">시/도</span>
            </label>
            {% render_field form.city  class='input input-bordered font-mono' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">우편번호</span>
            </label>
            {% render_field form.zipcode  class='input input-bordered font-mono' %}
          </div>
        </div>
        <div class="grid grid-cols-4 gap-2">
          <div class="form-control">
            <label class="label">
              <span class="label-text">대표전화번호</span>
            </label>
            {% render_field form.office_phone  class='input input-bordered font-mono' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자</span>
            </label>
            {% render_field form.contact_person  class='input input-bordered font-mono' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자이메일</span>
            </label>
            {% render_field form.office_email  class='input input-bordered font-mono' %}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">담당자번호</span>
            </label>
            {% render_field form.office_fax  class='input input-bordered font-mono' %}
          </div>
        </div>
        <div class="grid grid-cols-12 gap-2 py-4">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary"
              hx-get="{% url 'customer:detail' company.id %}"
              hx-trigger="click"
              hx-target="#main_area"
              hx-swap="outerHTML"
              hx-history-push-url="true"
            >Cancel</button>
        </div>
      </div>
	</form>
		
	</section>
   
{% endblock %}

{% block aside %}

	  {% include 'app_base_aside.html' %}
	
{% endblock %}


