{% extends "web/base.html" %}
{% load static %}

<div class="bg-white">

{% block header %}
  {% include "web/header.html" %}
{% endblock %}

{% block content %}

  <main class="isolate">
    <!-- Hero section -->
    <div class="relative isolate -z-10">
      <svg class="absolute inset-x-0 top-0 -z-10 h-[64rem] w-full stroke-gray-200 [mask-image:radial-gradient(32rem_32rem_at_center,white,transparent)]" aria-hidden="true">
        <defs>
          <pattern id="1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
            <path d="M.5 200V.5H200" fill="none" />
          </pattern>
        </defs>
        <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
          <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
        </svg>
        <rect width="100%" height="100%" stroke-width="0" fill="url(#1f932ae7-37de-4c0a-a8b0-a6e3b4d44b84)" />
      </svg>
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ffffff] to-[#62CFF4] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-288.75" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="overflow-hidden">
        <div class="mx-auto max-w-7xl px-6 pb-32 pt-36 sm:pt-60 lg:px-8 lg:pt-32">
          <div class="mx-auto max-w-2xl gap-x-14 lg:mx-0 lg:flex lg:max-w-none lg:items-center">
            <div class="w-full max-w-xl lg:shrink-0 xl:max-w-2xl">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mb-6">
                대한민국 1위 원격 판독센터
              </h1>
              <h1 class="text-2xl font-semibold text-purple-900 sm:text-2xl">
                최고의 판독품질, 신속하게 받으실 수 있습니다.
              </h1>
              <p class="relative mt-6 text-lg leading-8 text-gray-600 sm:max-w-md lg:max-w-none">
                대학병원 교수들이 추천하는 전문 영상의학 서비스
                세부전공 전문의들의 고품질의 판독서비스를 휴먼영상의학센터에서 경험하실 수 있습니다. 
              </p>
              <div class="mt-10 flex items-center gap-x-6">
                <a href="#" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                  원격판독 상담 신청하기
                </a>
                <!-- <a href="#" class="text-sm/6 font-semibold text-gray-900">Learn more <span aria-hidden="true">→</span></a> -->
              </div>
            </div>
            <div class="mt-14 flex justify-end gap-8 sm:-mt-44 sm:justify-start sm:pl-20 lg:mt-0 lg:pl-0">
              <div class="ml-auto w-44 flex-none space-y-8 pt-32 sm:ml-0 sm:pt-80 lg:order-last lg:pt-36 xl:order-none xl:pt-80">
                <div class="relative">
                  <img src="{% static '/img/101.jpg' %}" alt="image" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
              <div class="mr-auto w-44 flex-none space-y-8 sm:mr-0 sm:pt-52 lg:pt-36">
                <div class="relative">
                  <img src="{% static '/img/104.jpg' %}" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
                <div class="relative">
                  <img src="{% static '/img/102.jpg' %}" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
              <div class="w-44 flex-none space-y-8 pt-32 sm:pt-0">
                <div class="relative">
                  <img src="{% static '/img/200.png' %}" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
                <div class="relative">
                  <img src="{% static '/img/hpacs02.PNG' %}" alt="" class="aspect-[2/3] w-full rounded-xl bg-gray-900/5 object-cover shadow-lg">
                  <div class="pointer-events-none absolute inset-0 rounded-xl ring-1 ring-inset ring-gray-900/10"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="bg-indigo-100">
      <div class="mx-auto max-w-7xl px-6 py-12 sm:py-24 lg:flex lg:items-start lg:flex-col lg:px-8">
        <p class="max-w-6xl text-3xl mb-2 font-semibold tracking-tight text-gray-900 sm:text-4xl">
          휴먼영상의학센터는 2008년 설립 이래  <br>
        </p>
        <p class="max-w-6xl text-3xl font-semibold text-purple-900 tracking-tight text-gray-900 sm:text-4xl">
          대한민국 원격판독서비스의 모범이 되려 항상 노력해왔습니다. 
        </p>
        <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:shrink-0">
          <!-- <a href="#" class="text-sm/6 font-semibold text-gray-900">Learn more <span aria-hidden="true">→</span></a> -->
        </div>
      </div>
    </div>
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-4">
            <div class="relative overflow-hidden rounded-3xl px-6 pb-9 shadow-2xl sm:px-12 lg:max-w-lg lg:px-0 lg:pb-0 xl:px-0 xl:pb-0">
              <img class="" src="{% static '/img/doctors.jpg' %}" alt="">
            </div>
          </div>
          <div>
            <div class="text-base/7 text-gray-700 lg:max-w-lg">
              <p class="text-base/7 font-semibold text-indigo-600">휴먼영상의학센터</p>
              <h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">의료영상 원격판독 <br>서비스란?</h1>
              <div class="max-w-xl">
                <p class="mt-6">
                  휴먼영상의학센터 원격판독서비스는 병원의 영상의학과 운영에 필요한 영상의학과 전문의의 구인, 판독의 질 관리, 영상의학과 업무량 변동에 따른 관리, 영상의학의 8개 세부분야별 판독을 휴먼영상의학센터가 책임지고 운영하는 서비스 입니다. 
                </p>
                <p class="mt-8">
                  환자 만족도가 상승됩니다.<br>
                  네트워크를 통해 검사 영상을 분야별로 재분류하여 각 병원의 영상의학과 전문의들이 전공분야 판독만을 하게 함으로써 판독의 질과 생산성이 향상되어, 더 나은 환자 만족도를 기대할 수 있습니다. 
                </p>
                <p class="mt-8">
                  영상의학 진료공백을 해소합니다.<br>
                  담당 영상의학 전문의 부재시 그 역할을 휴먼의 영상의학과 전문의가 담당하게 됨으로서 진료공백에 대한 걱정이 효과적으로 줄어들며, 세부 전공별 판독으로 오진률이 감소합니다.  
                </p>
                <p class="mt-8">
                  유연한 대처가 가능합니다.<br>
                  가을 겨울, 급증하는 건강검진 수요에 의한 영상의학과 인력부족이 걱정이십니까?
                  150여명의 영상의학과 전문의가 네트워크 상으로 팀을 이루어 진료하기 때문에 검사량 증감에 따른 대처가 매우 유연합니다. 
 
                </p>
                
              </div>
            </div>
            <dl class="mt-10 grid grid-cols-2 gap-8 border-t border-gray-900/10 pt-10 sm:grid-cols-3">
              <div>
                <dt class="text-sm/6 font-semibold text-gray-600">Founded</dt>
                <dd class="mt-2 text-3xl/10 font-bold tracking-tight text-gray-900">2008</dd>
              </div>
              <div>
                <dt class="text-sm/6 font-semibold text-gray-600">Radioligists</dt>
                <dd class="mt-2 text-3xl/10 font-bold tracking-tight text-gray-900">+150</dd>
              </div>
              <div>
                <dt class="text-sm/6 font-semibold text-gray-600">Cases</dt>
                <dd class="mt-2 text-3xl/10 font-bold tracking-tight text-gray-900">+200K</dd>
              </div>
            </dl>
            <div class="mt-10 flex">
              <!-- <a href="#" class="text-base/7 font-semibold text-indigo-600">Learn more about our company <span aria-hidden="true">&rarr;</span></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    

    
    <div class="bg-indigo-700">
      <div class="mx-auto max-w-7xl px-6 py-12 sm:py-24 lg:flex lg:items-start lg:flex-col lg:px-8">
        <p class="max-w-3xl text-3xl mb-2 font-semibold tracking-tight text-white sm:text-4xl">
          국내에서 가장 많은 영상의학과
        </p>
        <p class="max-w-3xl text-3xl font-semibold tracking-tight text-white sm:text-4xl">
          전문의 선생님들과 함께 하고 있습니다.
        </p>
        <div class="mt-10 flex items-center gap-x-6 lg:mt-0 lg:shrink-0">
          <!-- <a href="#" class="text-sm/6 font-semibold text-gray-900">Learn more <span aria-hidden="true">→</span></a> -->
        </div>
      </div>
    </div>

    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto grid max-w-7xl gap-20 px-6 lg:px-8 xl:grid-cols-3">
        <div class="max-w-xl">
          <h2 class="text-pretty text-3xl font-semibold tracking-tight text-gray-900 sm:text-4xl">세부전공별 <br>전문의 판독시스템</h2>
          <p class="mt-6 text-lg/8 text-gray-600">
            휴먼영상의학센터는 8개 세부 전공별 전문 판독센터를 운영하고 있습니다. 
          </p>
          <p class="mt-6 text-lg/8 text-gray-600">
            고품질의 영상의학서비스 유지를 위하여 각 세부 전문 분야별 Section chief 의 확인을 통해 반드시 각 파트별 세부전공분야가 일치하는 국내 정상급 영상의학과 전문의 선생님만 초빙하고 있으며  전임의 중 최소 1년이상 세부전공분야를 수료해야 지원이 가능합니다.  모두가 신뢰할 수 있는 고품질의 영상의학 서비스, 휴먼영상의학센터가 제공합니다. 
          </p>
        </div>
        <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
          <li>
            <div class="flex items-center gap-x-6">
              <img class="size-16 rounded-full" src="{% static '/img/c-abdo-1.jpg' %}" alt="">
              <div>
                <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">전문의 전주현</h3>
                <p class="text-sm/6 font-semibold text-indigo-600">복부영상 세부전공</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="size-16 rounded-full" src="{% static '/img/c-chest-1.jpg' %}" alt="">
              <div>
                <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">전문의 김정아</h3>
                <p class="text-sm/6 font-semibold text-indigo-600">심장혈관 세부전공</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="size-16 rounded-full" src="{% static '/img/c-heart-1.jpg' %}" alt="">
              <div>
                <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">전문의 전수령</h3>
                <p class="text-sm/6 font-semibold text-indigo-600">흉부/심장 세부전공</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="size-16 rounded-full" src="{% static '/img/c-mamo-1.jpg' %}" alt="">
              <div>
                <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">전문의 김수진</h3>
                <p class="text-sm/6 font-semibold text-indigo-600">유방/갑상선 세부전공</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="size-16 rounded-full" src="{% static '/img/c-neuro-1.jpg' %}" alt="">
              <div>
                <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">전문의 이웅재</h3>
                <p class="text-sm/6 font-semibold text-indigo-600">신경두경부 세부전공</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="size-16 rounded-full" src="{% static '/img/c-ped-1.jpg' %}" alt="">
              <div>
                <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">전문의 윤혜경</h3>
                <p class="text-sm/6 font-semibold text-indigo-600">소아과 세부전공</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="size-16 rounded-full" src="{% static '/img/c_bv.png' %}" alt="">
              <div>
                <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">전문의 김영일</h3>
                <p class="text-sm/6 font-semibold text-indigo-600">심혈관/인터벤션 세부전공</p>
              </div>
            </div>
          </li>
          <li>
            <div class="flex items-center gap-x-6">
              <img class="size-16 rounded-full" src="{% static '/img/c-skel.png' %}" alt="">
              <div>
                <h3 class="text-base/7 font-semibold tracking-tight text-gray-900">전문의 전우선</h3>
                <p class="text-sm/6 font-semibold text-indigo-600">근골격 세부전공</p>
              </div>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
    <div class="bg-gray-900 py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <dl class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3">
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base/7 text-gray-400">신속한 기한내 판독결과 회송(응급)<br>(Turn Around Time) </dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">TAT + 92%</dd>
          </div>
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base/7 text-gray-400">영상의학 세부전공 전문의<br>세부전공별 판독시스템</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">전문의 +150명</dd>
          </div>
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base/7 text-gray-400">대한민국 원격판독의 표준을 제시해왔던 <br>17년의 전통</dt>
            <dd class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl">2008년부터</dd>
          </div>
        </dl>
      </div>
    </div>


    <div class="overflow-hidden bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class="text-base/7 font-semibold text-indigo-600">기한 내 판독의 위한</h2>
              <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">체계적인 시스템</p>
              <p class="mt-6 text-lg/8 text-gray-600">
                TAT 관리위원회와 인센티브 제도를 도입해 더욱 신속하고 정확한 판독을 실현합니다
              </p>
              <p class="mt-6 text-lg/8 text-gray-600">
                시간내 판독은 의료진의 업무 부담 완화와 환자의 생명을 지키기 위한 중요한 요소입니다. 휴먼영상의학센터는 기간 내 판독율을 높이기 위해, TAT 향상 운영 위원회와 판독의 인센티브제를 운영하여 최상의 노력을 기울이고 있습니다.

              </p>
              <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg class="absolute left-1 top-1 size-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z" clip-rule="evenodd" />
                    </svg>
                    기간 내 판독 데이터 공개
                  </dt>
                  <dd class="inline">매월 익월 판독결과를 고객병원들과 공유함</dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg class="absolute left-1 top-1 size-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z" clip-rule="evenodd" />
                    </svg>
                    TAT 향상위원회
                  </dt>
                  <dd class="inline">매월 판독결과를 확인하고 부족한 부분에 대한 개선책을 만들어 기간 내 판독이 이루어지도록 관리</dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg class="absolute left-1 top-1 size-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path d="M4.632 3.533A2 2 0 0 1 6.577 2h6.846a2 2 0 0 1 1.945 1.533l1.976 8.234A3.489 3.489 0 0 0 16 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234Z" />
                      <path fill-rule="evenodd" d="M4 13a2 2 0 1 0 0 4h12a2 2 0 1 0 0-4H4Zm11.24 2a.75.75 0 0 1 .75-.75H16a.75.75 0 0 1 .75.75v.01a.75.75 0 0 1-.75.75h-.01a.75.75 0 0 1-.75-.75V15Zm-2.25-.75a.75.75 0 0 0-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 0 0 .75-.75V15a.75.75 0 0 0-.75-.75h-.01Z" clip-rule="evenodd" />
                    </svg>
                    판독의 인센티브제
                  </dt>
                  <dd class="inline">기간내 판독과 판독 품질 향상을 위해서 다양한 인센티브 제도를 운영중</dd>
                </div>
              </dl>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative isolate overflow-hidden bg-indigo-500 px-6 pt-8 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-16 sm:pr-0 sm:pt-16 lg:mx-0 lg:max-w-none">
              <div class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white" aria-hidden="true"></div>
              <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
                <img src="{% static '/img/dash11.png' %}" alt="Product screenshot" width="2432" height="1442" class="-mb-12 w-[57rem] max-w-none rounded-tl-xl bg-gray-800 ring-1 ring-white/10">
              </div>
              <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 sm:rounded-3xl" aria-hidden="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="overflow-hidden bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="lg:pr-8 lg:pt-4">
            <div class="lg:max-w-lg">
              <h2 class="text-base/7 font-semibold text-indigo-600">효율적인 정산을 위한</h2>
              <p class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">고객별 대시보드 제공</p>
              <p class="mt-6 text-lg/8 text-gray-600">
                안정적이고 신뢰할 수 있는 클라우드 시스템으로 정산 데이터를 실시간 제공 

              </p>
              <p class="mt-6 text-lg/8 text-gray-600">
                휴먼영상의학센터는 클라우드기반 정산데이터를 투명하게 제공하고 있습니다. 실시간으로 온라인을 통해  의뢰병원별, modality별, 의사별 등 원하는 관련 정보를 간편하게 조회가 가능하여, 의뢰기관의 업무부담을 완화시키고, 투명한 정산금액 공개로 누구나 신뢰 할 수 있는 판독 서비스를 제공합니다. 

              </p>
              <dl class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none">
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg class="absolute left-1 top-1 size-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 0 1-1.44-8.765 4.5 4.5 0 0 1 8.302-3.046 3.5 3.5 0 0 1 4.504 4.272A4 4 0 0 1 15 17H5.5Zm3.75-2.75a.75.75 0 0 0 1.5 0V9.66l1.95 2.1a.75.75 0 1 0 1.1-1.02l-3.25-3.5a.75.75 0 0 0-1.1 0l-3.25 3.5a.75.75 0 1 0 1.1 1.02l1.95-2.1v4.59Z" clip-rule="evenodd" />
                    </svg>
                    웹대시보드(Dashboard) 제공
                  </dt>
                  <dd class="inline">월별 정산용 판독데이터를 손쉽게 조회하여 정산에 걸리는 시간을 획기적으로 줄일 수 있습니다.</dd>
                </div>
                <div class="relative pl-9">
                  <dt class="inline font-semibold text-gray-900">
                    <svg class="absolute left-1 top-1 size-5 text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                      <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z" clip-rule="evenodd" />
                    </svg>
                    분야별, 의사별 정산데이터 확인 
                  </dt>
                  <dd class="inline">판독의별, 세부전공별, Modality별 통계를 확인하실 수 있습니다.</dd>
                </div>
                
              </dl>
            </div>
          </div>
          <div class="sm:px-6 lg:px-0">
            <div class="relative isolate overflow-hidden bg-indigo-500 px-6 pt-8 sm:mx-auto sm:max-w-2xl sm:rounded-3xl sm:pl-16 sm:pr-0 sm:pt-16 lg:mx-0 lg:max-w-none">
              <div class="absolute -inset-y-px -left-3 -z-10 w-full origin-bottom-left skew-x-[-30deg] bg-indigo-100 opacity-20 ring-1 ring-inset ring-white" aria-hidden="true"></div>
              <div class="mx-auto max-w-2xl sm:mx-0 sm:max-w-none">
                <img src="{% static '/img/dash00.png' %}" alt="Product screenshot" width="2432" height="1442" class="-mb-12 w-[57rem] max-w-none rounded-tl-xl bg-gray-800 ring-1 ring-white/10">
              </div>
              <div class="pointer-events-none absolute inset-0 ring-1 ring-inset ring-black/10 sm:rounded-3xl" aria-hidden="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- Content section -->
    <!-- <div class="mx-auto max-w-7xl px-6 sm:mt-0 lg:px-8 xl:mt-8">
      <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our mission</h2>
        <div class="mt-6 flex flex-col gap-x-8 gap-y-20 lg:flex-row">
          <div class="lg:w-full lg:max-w-2xl lg:flex-auto">
            <p class="text-xl leading-8 text-gray-600">Aliquet nec orci mattis amet quisque ullamcorper neque, nibh sem. At arcu, sit dui mi, nibh dui, diam eget aliquam. Quisque id at vitae feugiat egestas ac. Diam nulla orci at in viverra scelerisque eget. Eleifend egestas fringilla sapien.</p>
            <div class="mt-10 max-w-xl text-base leading-7 text-gray-700">
              <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.</p>
              <p class="mt-10">Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.</p>
            </div>
          </div>
          <div class="lg:flex lg:flex-auto lg:justify-center">
            <dl class="w-64 space-y-8 xl:w-80">
              <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-600">Transactions every 24 hours</dt>
                <dd class="text-5xl font-semibold tracking-tight text-gray-900">44 million</dd>
              </div>
              <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-600">Assets under holding</dt>
                <dd class="text-5xl font-semibold tracking-tight text-gray-900">$119 trillion</dd>
              </div>
              <div class="flex flex-col-reverse gap-y-4">
                <dt class="text-base leading-7 text-gray-600">New users annually</dt>
                <dd class="text-5xl font-semibold tracking-tight text-gray-900">46,000</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Image section -->
    <!-- <div class="mt-32 sm:mt-40 xl:mx-auto xl:max-w-7xl xl:px-8">
      <img src="https://images.unsplash.com/photo-1529156069898-49953e39b3ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="" class="aspect-[5/2] w-full object-cover xl:rounded-3xl">
    </div>-->

    <!-- Values section -->
    <!-- <div class="mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our values</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Lorem ipsum dolor sit amet consect adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in accusamus quisquam.</p>
      </div>
      <dl class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <div>
          <dt class="font-semibold text-gray-900">Be world-class</dt>
          <dd class="mt-1 text-gray-600">Aut illo quae. Ut et harum ea animi natus. Culpa maiores et sed sint et magnam exercitationem quia. Ullam voluptas nihil vitae dicta molestiae et. Aliquid velit porro vero.</dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Share everything you know</dt>
          <dd class="mt-1 text-gray-600">Mollitia delectus a omnis. Quae velit aliquid. Qui nulla maxime adipisci illo id molestiae. Cumque cum ut minus rerum architecto magnam consequatur. Quia quaerat minima.</dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Always learning</dt>
          <dd class="mt-1 text-gray-600">Aut repellendus et officiis dolor possimus. Deserunt velit quasi sunt fuga error labore quia ipsum. Commodi autem voluptatem nam. Quos voluptatem totam.</dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Be supportive</dt>
          <dd class="mt-1 text-gray-600">Magnam provident veritatis odit. Vitae eligendi repellat non. Eum fugit impedit veritatis ducimus. Non qui aspernatur laudantium modi. Praesentium rerum error deserunt harum.</dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Take responsibility</dt>
          <dd class="mt-1 text-gray-600">Sit minus expedita quam in ullam molestiae dignissimos in harum. Tenetur dolorem iure. Non nesciunt dolorem veniam necessitatibus laboriosam voluptas perspiciatis error.</dd>
        </div>
        <div>
          <dt class="font-semibold text-gray-900">Enjoy downtime</dt>
          <dd class="mt-1 text-gray-600">Ipsa in earum deserunt aut. Quos minus aut animi et soluta. Ipsum dicta ut quia eius. Possimus reprehenderit iste aspernatur ut est velit consequatur distinctio.</dd>
        </div>
      </dl>
    </div> --> -->

    <!-- Logo cloud -->
    <div class="bg-gray-900 py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
          <div class="mx-auto w-full max-w-xl lg:mx-0">
            <h2 class="text-pretty text-4xl font-semibold tracking-tight text-white sm:text-5xl leading-relaxed">그 동안 고객병원들로부터 <br>쌓여진 신뢰</h2>
            <p class="mt-6 text-lg/8 text-gray-300">
              2008년이래 전국의 많은 병의원들로부터 판독의뢰를 받아서 쌓아온 신뢰로, 휴먼영상의학센터는 국내 최고의 원격판독센터로 자리매김하고 있습니다. 
            </p>
            <p class="mt-6 text-lg/8 text-gray-300">
              150여명이 넘는 영상의학 전문의들이 모여있으며, 각자의 세부전공별로 최선을 다해 판독을 하고 있습니다.
            </p>
            <div class="mt-8 flex items-center gap-x-6">
              <!-- <a href="#" class="rounded-md bg-indigo-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Create account</a>
              <a href="#" class="text-sm font-semibold text-white">Contact us <span aria-hidden="true">&rarr;</span></a> -->
            </div>
          </div>
          <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
            <span class="text-white font-semibold text-2xl">강릉아산병원</span>
            <span class="text-white font-semibold text-2xl">분당서울대학교병원</span>
            <span class="text-white font-semibold text-2xl">경북대학교병원</span>
            <span class="text-white font-semibold text-2xl">원주세브란스기독병원</span>
            <span class="text-white font-semibold text-2xl">건강보험공단일산병원</span>
            <span class="text-white font-semibold text-2xl">칠곡경북대병원</span>
            <span class="text-white font-semibold text-2xl">서울보라매병원</span>
            <span class="text-white font-semibold text-2xl">의정부을지대학교병원</span>
            <span class="text-white font-semibold text-2xl">국립암병원</span>
            <span class="text-white font-semibold text-2xl">노원을지대학교병원</span>
            <span class="text-white font-semibold text-2xl">부천성모병원 등..</span>
            
          </div>
        </div>
      </div>
    </div>
    
    <div class="bg-white">
      <div class="mx-auto max-w-7xl px-6 py-16 sm:py-24 lg:px-8">
        <h2 class="text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">원격판독 홈페이지 Q&A </h2>
        <p class="mt-6 max-w-2xl text-base/7 text-gray-600">
          고객분들의 다양한 질문들에 대해서 답변드립니다.
        </p>
        <div class="mt-20">
          <dl class="space-y-16 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-16 sm:space-y-0 lg:gap-x-10">
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">원격판독은 어떻게 이용하나요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                원격판독 문의를 주시면 담당자와 직접 1:1 상담을 진행하게 되며 이후 원하시는 세부분야의 판독 가능여부를 확인 후 원격판독 서비스를 제공해드립니다.
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  # 원격판독 절차 안내
                </h4>
                <p class="mt-2 p-2 pl-4 text-base/7 text-gray-600">
                  <ul class="pl-4">
                    <li>1. 계약 체결/판독의 지정</li>
                    <li>2. PACS 연동</li>
                    <li>3. 휴먼영상의학센터 개발팀 연동</li>
                    <li>4. 테스트 / 교육</li>
                    <li>5. 영상판독 시작</li>
                  </ul>
              </dd>
            </div>
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">휴먼영상의학센터 원격판독의 장점은 무엇인가요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                휴먼영상의학센터는 국내에서 가장 많은 영상의학과 전문의가 근무하는 의료기관으로 가장 안정적인 원격판독 서비스를 받아보실 수 있습니다. 또한 8개 세부분야별 영상의학과 전문의 판독으로 고품질의 전문적인 판독을 제공하며, 누적 10억장 이상의 원격판독 경험을 보유하고 있습니다. 
              </dd> 
            </div>
            
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">병원의 PACS를 그대로 이용할 수 있나요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                네, 병원에서 현재 사용하는 PACS와 간편한 연동을 통해 원격판독을 진행할 수 있습니다. 
              </dd>
            </div>
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">토요일에도 판독이 가능한가요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                네. 휴먼영상의학센터는 토요일 오전 9시 ~ 13시 까지 응급판독 서비스를 지원하고 있습니다. 
                (단, 소아, 비뇨, 혈관, 심장, 유방 파트는 토, 일 응급 판독이 불가합니다.) 
              </dd>
            </div>
            <div>
              <dt class="text-base/7 font-semibold text-gray-900"> 병원의 PACS를 그대로 이용할 수 있나요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                네, 병원에서 현재 사용하는 PACS와 간편한 연동을 통해 원격판독을 진행할 수 있습니다. 
              </dd>
            </div>
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">원격판독의 법적 근거는 무엇인가요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                 의료법 제34조에 따라 의료인 간 지식·기술 지원을 위한 원격의료가 허용되며, 시설 및 장비 기준은 시행규칙 제29조를 따릅니다. 

              </dd>
            </div>
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">판독 결과는 언제까지 받아볼 수 있나요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                 <table class="w-full text-left border-collapse border border-gray-300">
                  <thead>
                    <tr>
                      <th class="text-base/7 font-semibold text-gray-900">구분</th>
                      <th class="text-base/7 font-semibold text-gray-900">제공 시간 기준</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-base/7 text-gray-600">일반 판독</td>
                      <td class="text-base/7 text-gray-600">48시간 이내 완료 및 회신</td>
                    </tr>
                    <tr>
                      <td class="text-base/7 text-gray-600">응급 판독</td>
                      <td class="text-base/7 text-gray-600">2시간 이내 판독 및 회신</td>
                    </tr>
                  </tbody>
                </table>
              </dd>
            </div>
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">판독 소견서를 작성하지 않으면 어떻게 되나요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                촬영료(70%)만 산정 가능하며, 판독료(30%)는 청구 불가합니다. 청구 적격성에도 영향을 미칩니다.
              </dd>
            </div>
            
            <div>
              <dt class="text-base/7 font-semibold text-gray-900"> 영상판독료는 무엇인가요? </dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                영상판독료는 환자에게 CT, MRI, X-ray 등 영상검사를 실시한 후, 전문의가 판독소견서를 작성했을 때 청구할 수 있는 건강보험 급여 항목입니다.
                즉, 단순히 촬영만 했다고 해서 받을 수 있는 것이 아니라, 아래 조건을 충족해야 합니다:
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  [건강보험 산정 기준 요약] 
                </h4>
                <p class="mt-2 p-2 pl-4 text-base/7 text-gray-600">
                  <ul class="pl-4">
                    <li>영상진단료는 촬영료(70%) + 판독료(30%)로 구성되어 있습니다.</li>
                    <li>판독소견서를 반드시 작성하고 보관해야만 판독료(30%)를 함께 청구할 수 있습니다.</li>
                    <li>만약 소견서를 작성하지 않으면,  촬영료(70%)만 인정되며, 판독료는 지급되지 않습니다.</li>
                  </ul>
                </p>
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  # 건강보험 요양급여비용 산정지침 (영상진단료 관련)
                </h4>
                <p class="mt-2 p-2 pl-4 text-base/7 text-gray-600">
                  출처: 「건강보험 요양급여비용 산정지침」 제1편 제2부 제3장 "영상진단 및 방사선치료료" 제4절
                  <p class="mt-2 p-2 pl-4 text-base/7 text-gray-600">
                  “영상진단료의 소정점수에는 판독료(소정점수의 30%)와 촬영료 등(소정점수의 70%)이 포함되어 있으며, 영상진단을 실시한 경우에는 반드시 판독소견서를 작성·비치하여야 한다. 판독소견서를 작성·비치하지 않은 경우에는 촬영료 등(70%)만 산정한다.”
                  </p>
                  <p class="mt-2 p-2 pl-4 text-base/7 text-gray-600">
                    즉, 상근 여부와 무관하게 영상의학과 전문의가 판독소견서를 제공하면
                    ➝ 판독료(30%)까지 산정 가능하다는 의미입니다.
                  </p>
                </p>

                <p class="mt-2 p-2 pl-4 text-base/7 text-gray-600">
                [원격판독과의 관계]
                </p>
                <p class="mt-2 p-2 pl-4 text-base/7 text-gray-600">
                
                영상의학과 전문의가 직접 판독하고 소견서를 제공해 주기 때문에, 원격판독을 통해 정당한 판독료 청구가 가능합니다. 영상의학과 전문의가 상근하지 않은 경우에도 원격판독 서비스를 이용하면 보험급여 산정 기준을 충족할 수 있습니다.

                </p>
              </dd>
            </div>
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">영상진단료 구성은 어떻게 되나요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                <p class="mt-2 text-base/7 text-gray-600">
                  영상진단료는 판독료 30% + 촬영료 등 70%로 구성됩니다.
                </p>
                <p class="mt-2 text-base/7 text-gray-600">
                  환자에게 영상검사를 시행하면, 촬영료(70%)와 판독료(30%)를 포함한 전체 금액이 건강보험 수가로 인정됩니다.
                  하지만 판독소견서를 작성해 보관하지 않으면, 촬영료(70%)만 산정되고 판독료(30%)는 청구할 수 없습니다.
                </p>
                <p class="mt-2 text-base/7 text-gray-600">
                  즉, 판독소견서를 반드시 작성하고 비치해야 전체 영상진단료를 받을 수 있습니다. 이 점에서 원격판독 서비스를 활용하면 전문의 소견을 확보할 수 있으므로, 정상적인 판독료 청구가 가능해집니다.
                </p>
                <p class="mt-2 text-base/7 text-gray-600">
                  #  추가 혜택
                   해당 의료기관에 상근 영상의학과 전문의가 직접 판독한 경우에는, 영상진단료의 10%가 추가로 가산됩니다.
                   (단, 원격판독은 상근 전문의에 해당하지 않으므로 가산 적용은 제외됩니다.)
                </p>
             </dd>
            </div>
            
            
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">원격판독은 어떤 병원에 적합한가요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                영상의학과 전문의가 상주하지 않거나 전문의의 부족으로 인한 업무 과중으로 지원이 필요한 병원, 검진기관, 응급환자 진단이 필요한 병원 등에 특히 효과적입니다. 
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                   A. 영상의학과 전문의가 상근하지 않은 병원
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  전문의가 부재하여 판독이 지연되거나 불가능한 경우, 신속하고 정확한 판독 서비스를 안정적으로 제공받을 수 있습니다.
                </p>
                <p class="mt-2 text-base/7 text-gray-600">
                  소견서 작성이 가능해져 판독료 청구도 정당하게 할 수 있습니다.
                </p>
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  B. 빠른 판독이 필요한 병원
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  응급실이나 입원환자가 있어 영상판독이 필요한 경우, 응급판독을 통해 2시간 이내의 판독 대응이 가능합니다.
                </p>
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  C. CT, MRI 등 고가 장비는 보유했지만 인력이 부족한 병원
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  장비는 있지만 전문의가 부족하여 효율적인 활용이 어려운 경우, 원격판독으로 장비 활용률을 높이고 검사 서비스 품질을 향상시킬 수 있습니다.
                </p>
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  D. 검진센터, 중소병원, 의원 등
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  소규모 기관에서도 원격판독을 통해 대형병원 수준의 영상의학과 전문 판독 서비스를 제공할 수 있습니다.
                </p>
              </dd>
            </div>
            <div>
              <dt class="text-base/7 font-semibold text-gray-900">영상의학과 전문의 판독이 왜 중요한가요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                영상의학과 전문의 판독은 보다 정확하고 안전한 진료, 그리고 보험청구 및 검진기관 기준 충족을 위한 핵심 요소입니다. 원격판독을 통해 상근 전문의가 부재시에도 이 기준을 충분히 만족시킬 수 있습니다.
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  A. 정확한 진단과 환자 안전
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  영상의학과 전문의는 영상 판독에 특화된 진단 전문가입니다. 질병을 조기에 발견하고, 불필요한 추가검사를 줄여 정확하고 안전한 진료를 가능하게 합니다.
                </p>
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  B. 보험 청구를 위한 필수 조건
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  CT, MRI, X-ray 등 영상검사를 시행한 경우, 판독소견서가 작성·비치되어야만 판독료를 포함한 전액 청구가 가능합니다.
                </p>
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  C. 국민건강보험공단 검진기관 기준 충족
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  건강검진기관은 건강검진 운영세칙 제6조에 따라 영상판독 시 다음 사항을 반드시 명시해야 합니다:
                  <ul>
                    <li>판독소견</li>
                    <li>판독일자</li>
                    <li>영상의학과 전문의의 성명</li>
                    <li>근무처</li>
                    <li>자격번호</li>
                    <li>서명</li>
                  </ul>
                </p>
                <p class="mt-2 text-base/7 text-gray-600">
                  #  건강검진 운영세칙 제 6조 중<br>
                  ②. 1. 가. 검진기관과 검사 및 판독을 의뢰받은 기관은 방사선 영상 판독소견서 (해당기관 소정양식) 에 판독소견, 판독일자, 판독을 실시한 영상의학과 전문의의 성명, 근무처, (전문의) 자격번호를 기재하고 서명한다. 다만 컴퓨터 영상처리장치 (CR), 디지털 촬영장치 (DR), 영상저장 및 전송 시스템 (Full PACS)을 이용한 경우에는 『건강검진 실시기준』 제10조 제4항 및 『암검진 실시기준』 제9조 제2항에 따라 전산매체로 관리할 수 있다.
                </p>
              </dd>
                
            </div>
    <div>
              <dt class="text-base/7 font-semibold text-gray-900">원격판독 시 개인정보보호는 어떻게 되나요?</dt>
              <dd class="mt-2 text-base/7 text-gray-600">
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                의료기관 간 비식별화된 정보 연계
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  원격판독 시에는 환자의 이름, 주민등록번호 등 민감한 식별정보를 제거하거나 암호화하여 전송합니다.
                </p>
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  보안이 강화된 시스템 사용
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  환자 정보에 접근할 수 있는 인원은 최소한의 의료진으로 제한되며, 모든 열람 기록은 로그로 남아 추적이 가능합니다.
                </p>
                <h4 class="text-base/7 font-semibold text-gray-900 mt-4">
                  관련 법령 철저 준수
                </h4>
                <p class="mt-2 text-base/7 text-gray-600">
                  「의료법」 제21조(기록 보존), 「개인정보 보호법」 및 「의료기관 인증기준」에 따라 영상자료 및 판독소견서는 안전하게 보관됩니다.
                  의료영상은 의료기관 간 전용 보안 네트워크 또는 암호화된 전송 시스템(PACS, VPN 등)을 통해 주고받습니다.
                  원격판독 시에는 환자의 이름, 주민등록번호 등 민감한 식별정보를 제거하거나 암호화하여 전송합니다.
                </p>
              </dd>
                
            </div>
            <!-- More questions... -->
          </dl>
        </div>
      </div>
    </div>
    
   
    <!-- Blog section -->
    <div class="bg-white py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
          <h2 class="text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">휴먼영상의학센터 소식들</h2>
          <p class="mt-2 text-lg/8 text-gray-600">영상의학, 병원 관련 소식들을 나눕니다.</p>
        </div>
        <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          <article class="flex max-w-xl flex-col items-start justify-between">
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time>
              <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>
            </div>
            <div class="group relative">
              <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Boost your conversion rate
                </a>
              </h3>
              <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
            </div>
            <div class="relative mt-8 flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full bg-gray-50">
              <div class="text-sm/6">
                <p class="font-semibold text-gray-900">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                    Michael Foster
                  </a>
                </p>
                <p class="text-gray-600">Co-Founder / CTO</p>
              </div>
            </div>
          </article>
    
          <article class="flex max-w-xl flex-col items-start justify-between">
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time>
              <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>
            </div>
            <div class="group relative">
              <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Boost your conversion rate
                </a>
              </h3>
              <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
            </div>
            <div class="relative mt-8 flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full bg-gray-50">
              <div class="text-sm/6">
                <p class="font-semibold text-gray-900">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                    Michael Foster
                  </a>
                </p>
                <p class="text-gray-600">Co-Founder / CTO</p>
              </div>
            </div>
          </article>
    
          <article class="flex max-w-xl flex-col items-start justify-between">
            <div class="flex items-center gap-x-4 text-xs">
              <time datetime="2020-03-16" class="text-gray-500">Mar 16, 2020</time>
              <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">Marketing</a>
            </div>
            <div class="group relative">
              <h3 class="mt-3 text-lg/6 font-semibold text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Boost your conversion rate
                </a>
              </h3>
              <p class="mt-5 line-clamp-3 text-sm/6 text-gray-600">Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.</p>
            </div>
            <div class="relative mt-8 flex items-center gap-x-4">
              <img src="https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="size-10 rounded-full bg-gray-50">
              <div class="text-sm/6">
                <p class="font-semibold text-gray-900">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                    Michael Foster
                  </a>
                </p>
                <p class="text-gray-600">Co-Founder / CTO</p>
              </div>
            </div>
          </article>
    
         
          <!-- More posts... -->
        </div>
      </div>
    </div>
    
  </main>
  {% endblock %}
  {% block footer %}
  {% include "web/footer.html" %}
  {% endblock %}
</div>