{% extends 'app_base.html' %}
{% load widget_tweaks %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">Import Data(Excel File)</a>
            </h2>
            <a href="#"
                hx-get="{% url 'importdata:index' %}"
                hx-trigger="click"
                hx-target="#main_area"
                hx-swap="outerHTML"
                class="btn">Back to List</a>
        </div>
        <form method="post" enctype="multipart/form-data" action="{% url 'importdata:new_upload' %}">
            {% csrf_token %}
            {% render_field form.user type="hidden" class="hidden" %}
        <div class="grid grid-cols-4 gap-4 py-2">
            <div class="">
                <div class="flex-1 w-64">
                    <label class="label" for="import_date">
                        <span class="label-text">날짜</span>
                    </label>
                    <input type="date" name="import_date" id="import_date" value="{{ import_date }}" class="input input-bordered" />
                </div>
            </div>
            <div class="flex-1 w-64">
                <label class="label" for="user">
                    <span class="label-text">파일출처</span>
                </label>
                {% render_field form.source_from class+="select select-bordered" %}
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 py-2">    
            <div class="grid-cols-2">

                <div class="flex-1 w-64">
                    <label class="label" for="user">
                        <span class="label-text">대상 년도</span>
                    </label>
                    {% render_field form.ayear class+="select select-bordered required"  %}
                </div>
            </div>
            <div class="flex-1 w-64">
                <label class="label" for="user">
                    <span class="label-text">대상 월</span>
                </label>
                {% render_field form.amonth class+="select select-bordered" %}
            </div>
            
            <div class="flex-1 w-64">
                <label class="label" for="description">
                    <span class="label-text">메모</span>
                </label>
                {% render_field form.description class+="input input-bordered" placeholder="" %}
            </div>
        </div>
        <div class="grid grid-cols-4 gap-4 py-2">
            <div class="form-control">
                <label for="excel_file" class="block text-sm font-medium leading-6 text-gray-900">파일 선택</label>
                <div class="mt-2 flex items-center gap-x-3">
                    {% render_field form.file class+="file-input w-full max-w-xs" placeholder="" %}
                </div>
            </div>
        </div>
        <div class="form-control py-4 text-left">
            <div class="form-control py-4 text-left">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div> 
        </form> 
      </div>
    </div>
  </section>
    
  {% endblock %}

  {% block aside %}
  
    {% include 'app_base_aside.html' %}
    
  {% endblock %}
  
  
  