<aside class="drawer-side z-10">
    <label for="my-drawer" class="drawer-overlay"></label>
    <!-- sidebar menu -->
    <nav class="flex min-h-screen w-72 flex-col gap-2 overflow-y-auto bg-base-100 px-6 py-10">
        <div class="mx-4 flex items-center gap-2 font-black">
            <svg
                width="32"
                height="32"
                viewBox="0 0 1024 1024"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect x="256" y="670.72" width="512" height="256" rx="128" class="fill-base-content" />
                <circle cx="512" cy="353.28" r="256" class="fill-base-content" />
                <circle
                    cx="512"
                    cy="353.28"
                    r="261"
                    stroke="black"
                    stroke-opacity="0.2"
                    stroke-width="10" />
                <circle cx="512" cy="353.28" r="114.688" class="fill-base-100" />
            </svg>
            휴먼영상의학센터
        </div>
        <ul class="menu">
            <li>
                <a href="{% url 'collab:index' %}">
                    <svg data-src="https://unpkg.com/heroicons/20/solid/inbox.svg" class="h-5 w-5"></svg>
                    검사의뢰 대시보드
                    
                </a>
            </li>
            <li>
                <a href="{% url 'collab:home' %}">
                    <svg data-src="https://unpkg.com/heroicons/20/solid/inbox.svg" class="h-5 w-5"></svg>
                    검사의뢰 관리
                </a>
            </li>
            <li>
                <a href="{% url 'collab:stat' %}" {% if side_menu == "stat" %}class='active'{% endif %}>
                    <svg
                        data-src="https://unpkg.com/heroicons/20/solid/squares-2x2.svg"
                        class="h-5 w-5"></svg>
                    통계
                </a>
            </li>
            
            {% if user.name == 'william' %}
            <li>
                <a href="{% url 'collab:illness_list' %}">
                    <svg
                        data-src="https://unpkg.com/heroicons/20/solid/squares-2x2.svg"
                        class="h-5 w-5"></svg>
                    상병코드
                </a>
            </li>
            <li>
                <a href="{% url 'collab:simplecode_list' %}">
                    <svg
                        data-src="https://unpkg.com/heroicons/20/solid/squares-2x2.svg"
                        class="h-5 w-5"></svg>
                    검사코드(간편)
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <!-- /sidebar menu -->
</aside>