{% load humanize %}
{% load custom_filters %}

<div class="w-full">
    <div class="flex flex-row w-full justify-between gap-2">
        <div class="py-1 mb-4 align-top ">
            <ul class="align-top">
            <!-- {% for rf in files %}
                <li class="flex flex-row justify-between gap-4 mb-1">
                    <a href="{{ rf.file.url }}" target="_blank" class="link" download="{{ rf.file.name }}">{{ rf.file}}</a>
                </li>
            {% empty %} -->
                <li>No files</li>
            <!-- {% endfor %} -->
            </ul>
        </div>
        <div>
           
        </div>
    </div>
</div>