<div id="simple_diagonosis_list_box"
    class=""
    hx-get="{% url 'collab:partial_simple_list' draft_refer.id %}"
    hx-trigger="SimpleDiagnosisChanged from:body"
    hx-target="this"
    hx-swap="innerHTML"
>
    <ul>
        {% for simple in simples %}
        <li ng-repeat="item in items">
             {{ simple }}
            <a href="#"
                hx-get="{% url 'collab:delete_simple_diagnosis' simple.id %}"
                hx-trigger="confirmed"
                onClick="Swal.fire({title: '확인요청', text:'검사항목을 삭제하시겠습니까?',showCancelButton: true}).then((result)=>{
                    if(result.isConfirmed){
                      htmx.trigger(this, 'confirmed');  
                    } 
                })"
                class="btn btn-error btn-xs text-white"
            >X</a>
        </li>
        {% empty %}
        <li>검색 결과가 없습니다.</li>
        {% endfor %}
    </ul>
</div>