{% extends 'collab/base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block header %}
    {% include 'collab/header.html' %}
{% endblock %}

{% block content %}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">비밀번호 변경</a>
            </h2>
        </div>
    </div>
</section>  
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card m-8">
        <h1 class="text-xl font-semibold mb-4">성공적으로 비밀번호가 변경되었습니다.</h1>
        <a href="{% url 'collab:index' %}" class="btn btn-primary btn-sm w-48 mt-4">초기 화면으로 가기</a>
    </div>
</section>

{% endblock %}

{% block aside %}
	{% include 'collab/aside.html' %}
{% endblock %}
