{% extends 'collab/base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block header %}
    {% include 'collab/header.html' %}
{% endblock %}

{% block content %}

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">비밀번호 변경</a>
            </h2>
        </div>
    </div>
</section>  
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card m-8">
        <div class="mt-6 border-t border-gray-100 px-8">
            <form method="post" action="{% url 'collab:change_password' %}" >
                {% csrf_token %}
            
                {{ form.non_field_errors }}
                <div class="flex flex-row">
                    <div class="w-52">
                        <label for="id_oldpassword" class="label">Current Password</label>
                    </div>
                    <div class="">
                        {{ form.oldpassword|add_class:"input input-bordered w-full" }} 
                        {% if form.oldpassword.errors %}
                            <div class="text-red-500 text-sm mt-2">
                                {{ form.oldpassword.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-row mt-4">
                    <div class="w-52">
                        <label for="id_password1" class="label">New Password</label>
                    </div>
                    <div class="">
                        {{ form.password1|add_class:"input input-bordered w-full" }}
                        {% if form.password1.errors %}
                            <div class="text-red-500 text-sm mt-2">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-row mt-4">
                    <div class="w-52">
                        <label for="id_password2" class="label">Confirm New Password</label>
                    </div>
                    <div class="">
                        {{ form.password2|add_class:"input input-bordered w-full" }}
                        {% if form.password2.errors %}
                            <div class="text-red-500 text-sm mt-2">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex flex-row mt-4">
                    <div class="w-52"> </div>
                    <div class="">
                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block aside %}

	{% include 'collab/aside.html' %}
	
{% endblock %}
