{% extends 'collab/base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block header %}
    {% include 'collab/header.html' %}
{% endblock %}

{% block content %}
<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2 w-full">
            <div class="flex flex-row justify-between w-2/3">
                <h2 class="card-title ">
                    새 검사의뢰서 작성 / {{ draft_refer.id }}
                </h2>
            </div>
            <div class="text-end me-4 w-1/3">
                <a href="{% url 'collab:index' %}" class="btn btn-primary btn-sm text-white ">돌아가기</a>
            </div>
            
        </div>
    </div>
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-8">
    <div class="card-body grow-0">
           
            <div class="w-full">
                <form 
                    method="post" 
                    action="{% url 'collab:refer_create' %}"
                    id="refer_create_form"
                >
                {% csrf_token %}
                <table  class="table min-w-full divide-y devide-x divide-gray-900">
                    <tr class="align-top border border-gray-500">
                        <td colspan="4" class="w-24 text-bold text-2xl text-center">검  사  의  뢰  서</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="w-24 align-top border-e border-gray-500">의뢰병원</td>
                        <td class="w-64 align-top border-e border-gray-500">{{company.business_name}} </td>
                        <td class="w-24 align-top border-e border-gray-500">의사명</td>
                        <td class="">{% render_field form.refer_doctor class="input input-bordered input-sm w-32 py-0" value=company.president_name %}</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">의뢰일</td>
                        <td class="align-top border-e border-gray-500">{% render_field form.referred_date class="input input-bordered input-sm w-40" type="date" %}</td>
                        <td class="align-top border-e border-gray-500">현재상태</td>
                        <td>{% render_field form.status class="select select-bordered select-sm w-32 py-0" %}</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">환자명</td>
                        <td class="align-top border-e border-gray-500">{% render_field form.patient_name class="input input-bordered input-sm w-40" %}</td>
                        <td class="align-top border-e border-gray-500">환자성별</td>
                        <td>{% render_field form.patient_gender class="select select-bordered select-sm w-32 py-0" %}</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">생년월일</td>
                        <td class="align-top border-e border-gray-500">{% render_field form.patient_birthdate class="input input-bordered input-sm w-40" type="date" %}</td>
                        <td class="align-top border-e border-gray-500">연락처</td>
                        <td>{% render_field form.patient_phone class="input input-bordered input-sm w-40" %}</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">환자상병</td>
                        <td class="align-top border-e border-gray-500">
                            <a 
                            href="#" 
                            class="btn btn-primary btn-sm"
                            hx-get="{% url 'collab:partial_illness_code_search' draft_refer.id %}"
                            hx-trigger="click"
                            hx-target="#option_box"
                            hx-swap="innerHTML"
                            >상병 추가</a>
                            {% include 'collab/partial_illness_list.html' %}
                        </td>
                        <td class="align-top border-e border-gray-500">외뢰검사</td>
                        <td class="align-top">
                            <a 
                                href="#" 
                                class="btn btn-primary btn-sm"
                                hx-get="{% url 'collab:partial_simple_diagnosis_list' draft_refer.id %}"
                                hx-trigger="click"
                                hx-target="#option_box"
                                hx-swap="innerHTML"
                            >검사 추가</a>
                           {% include 'collab/partial_simple_list.html' %}
                        </td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td colspan="1" class="align-top border-e border-gray-500">
                            <div class="font-semibold text-sm">임상소견:</div>
                        </td>
                        <td colspan="3" class="align-top border border-gray-500">
                            <div class="bg-base-50">
                                {% render_field form.opinion1 class="textarea textarea-bordered w-full" cols=50 rows=6 %}
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="divider"></div>
                <div class="flex justify-end gap-2">
                    <button type="submit" class="btn btn-primary btn-sm">저장하기</button>
                    <a href="{% url 'collab:index' %}" class="btn btn-warning btn-sm">취소하기</a>
                </div>
                </form>
                
            </div>  
        </div>
    
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-4">
    <div class="card-body grow-0">
        <div id ="option_box">

        </div>
    </div>
</section>
    
{% endblock %}

{% block aside %}

	{% include 'collab/aside.html' %}
	
{% endblock %}

