{% extends 'collab/base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block header %}
    {% include 'collab/header.html' %}
{% endblock %}

{% block content %}
<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2 w-full">
            <div class="flex flex-row justify-between w-2/3">
                <h2 class="card-title ">
                    검사의뢰서 수정하기 ({{ draft_refer.id }})
                </h2>
                <div class="flex flex-col">
                    <form method="get" action="{% url 'customer:index' %}">
                        <label class="input input-bordered flex items-center gap-2">
                            <input type="text" class="grow" placeholder="Search" name="q" />
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 16 16"
                              fill="currentColor"
                              class="h-4 w-4 opacity-70">
                              <path
                                fill-rule="evenodd"
                                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                clip-rule="evenodd" />
                            </svg>
                          </label>
                    </form>
                </div>
            </div>
            <div class="text-end me-4 w-1/3">
                <a href="{% url 'collab:index' %}" class="btn btn-primary btn-sm text-white ">돌아가기</a>
            </div>
        </div>
    </div>
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-8">
    <div class="card-body grow-0">
        <div class="w-full">
            <form 
            method="post" 
            action="{% url 'collab:refer_update' draft_refer.id %}"
            id="refer_create_form"
            >
            {% csrf_token %}
            <table class="table min-w-full divide-y devide-x divide-gray-900">
                <tr class="align-top border border-gray-500">
                    <td colspan="4" class="w-24 text-bold text-2xl text-center">검  사  의  뢰  서</td>
                </tr>
                <tr class="align-top border border-gray-500">
                    <td class="w-24 align-top border-e border-gray-500">의뢰병원</td>
                    <td class="w-48 align-top border-e border-gray-500">{{company.business_name}} </td>
                    <td class="w-24 align-top border-e border-gray-500">의사명</td>
                    <td class="w-48">
                        {% render_field form.refer_doctor class="input input-bordered input-sm w-40" %}
                    </td>
                </tr>
                <tr class="align-top border border-gray-500">
                    <td class="align-top border-e border-gray-500">의뢰일 *</td>
                    <td class="align-top border-e border-gray-500">
                        {% render_field form.referred_date class="input input-bordered input-sm w-40" type="date" %}
                        <div class="text-red-500 text-sm mt-1">
                            {% for error in form.referred_date.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="align-top border-e border-gray-500">상태</td>
                    <td>{{ draft_refer.status }}</td>
                </tr>
                <tr class="align-top border border-gray-500">
                    <td class="align-top border-e border-gray-500">환자명 *</td>
                    <td class="align-top border-e border-gray-500">
                        {% render_field form.patient_name class="input input-bordered input-sm w-40" %}
                        <div class="text-red-500 text-sm mt-1">
                            {% for error in form.patient_name.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="align-top border-e border-gray-500">환자성별 *</td>
                    <td>
                        {% render_field form.patient_gender class="select select-bordered select-sm w-32 py-0" %}
                        <div class="text-red-500 text-sm mt-1">
                            {% for error in form.patient_gender.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr class="align-top border border-gray-500">
                    <td class="align-top border-e border-gray-500">생년월일</td>
                    <td class="align-top border-e border-gray-500">
                        {% render_field form.patient_birthdate class="input input-bordered input-sm w-40" type="date" %}
                        <div class="text-red-500 text-sm mt-1">
                            {% for error in form.patient_birthdate.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </td>
                    <td class="align-top border-e border-gray-500">연락처 *</td>
                    <td>{% render_field form.patient_phone class="input input-bordered input-sm w-40" %}
                        <div class="text-red-500 text-sm mt-1">
                            {% for error in form.patient_phone.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                <tr class="align-top border border-gray-500">
                    <td class="align-top border-e border-gray-500">환자상병</td>
                    <td class="align-top border-e border-gray-500">
                        <a 
                        href="#" 
                        class="btn btn-primary btn-xs"
                        hx-get="{% url 'collab:partial_illness_code_search' draft_refer.id %}"
                        hx-trigger="click"
                        hx-target="#option_box"
                        hx-swap="innerHTML"
                        >상병 추가</a>
                        {% include 'collab/partial_illness_list.html' %}
                    </td>
                    <td class="align-top border-e border-gray-500">외뢰검사</td>
                    <td class="align-top">
                        <a 
                            href="#" 
                            class="btn btn-primary btn-xs"
                            hx-get="{% url 'collab:partial_simple_diagnosis_list' draft_refer.id %}"
                            hx-trigger="click"
                            hx-target="#option_box"
                            hx-swap="innerHTML"
                        >검사 추가</a>
                       {% include 'collab/partial_simple_list.html' %}
                    </td>
                </tr>
                <tr class="align-top border border-gray-500">
                    <td colspan="1" class="align-top border-e border-gray-500">
                        임상소견*
                    </td>
                    <td colspan="3" class="align-top border border-gray-500">{% render_field form.opinion1 class="textarea textarea-bordered w-full" cols=50 rows=3 %}</td>
                </tr>
               
            </table>
            <legend class="text-bold text-sm">* 항목은 필수입력 정보입니다.</legend>
            <div class="flex flex-row justify-between gap-2 mt-4">
                <a href="#"
                    data-delete-url="{% url 'collab:refer_delete' draft_refer.id %}"
                    class="btn btn-error btn-sm"
                    onclick="confirmDeletion(this)"
                >삭제하기</a>
                <div>
                    <button type="submit" class="btn btn-primary btn-sm">저장하기</button>
                    <a href="{% url 'collab:refer_detail' draft_refer.id %}" class="btn btn-warning btn-sm">취소하기</a>
                </div>
            </div>
            </form>
            <script>
                function confirmDeletion(element) {
                    const deleteUrl = element.getAttribute('data-delete-url');
                    Swal.fire({
                        title: '확인요청',
                        text: '검사의뢰를 삭제하시겠습니까?',
                        showCancelButton: true,
                        confirmButtonText: '삭제',
                        cancelButtonText: '취소',
                        icon: 'warning'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = deleteUrl;
                        }
                    });
                }
                
            </script>
        </div>  
    </div>
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-4">
    <div class="card-body grow-0">
        <div id ="option_box">

        </div>
    </div>
</section>
    
{% endblock %}

{% block aside %}

	{% include 'collab/aside.html' %}
	
{% endblock %}



