{% extends 'collab/base.html' %}
{% load static %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block header %}
    {% include 'collab/header.html' %}
{% endblock %}

{% block content %}
<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2 w-full">
            <div class="flex flex-row justify-between w-2/3">
                <h2 class="card-title ">
                    검사의뢰서 보기 / {{ refer.id }} / {{ company.id }}
                </h2>
                <div class="flex flex-col">
                    <form method="get" action="{% url 'collab:home' %}">
                        <label class="input input-bordered flex items-center gap-2">
                            <input type="text" class="grow" placeholder="Search" name="q" />
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 16 16"
                              fill="currentColor"
                              class="h-4 w-4 opacity-70">
                              <path
                                fill-rule="evenodd"
                                d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                                clip-rule="evenodd" />
                            </svg>
                          </label>
                    </form>
                </div>
            </div>
            <div class="text-end me-4 w-1/3">
                <a href="{% url 'collab:index' %}" class="btn btn-primary btn-sm text-white ">돌아가기</a>
            </div>
            
        </div>
    </div>
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-6">
    <div class="card-body grow-0">
        <div id="refer_create_box" class="">
            <div id="print_area" class="w-full">
                <table  class="table min-w-full divide-y devide-x divide-gray-900">
                    <tr class="align-top border border-gray-500">
                        <td colspan="4" class="w-24 text-bold text-2xl text-center">검  사  의  뢰  서</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="w-24 align-top border-e border-gray-500">의뢰병원</td>
                        <td class="w-48 align-top border-e border-gray-500">{{company.business_name}} </td>
                        <td class="w-24 align-top border-e border-gray-500">의사명</td>
                        <td class="w-48">{{company.president_name}} </td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">의뢰일</td>
                        <td class="align-top border-e border-gray-500">{{ refer.referred_date }}</td>
                        <td class="align-top border-e border-gray-500">상태</td>
                        <td>{{ refer.status }}</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">환자명</td>
                        <td class="align-top border-e border-gray-500">{{ refer.patient_name }}</td>
                        <td class="align-top border-e border-gray-500">환자성별</td>
                        <td>{{ refer.patient_gender }}</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">생년월일</td>
                        <td class="align-top border-e border-gray-500">{{ refer.patient_birthdate }}</td>
                        <td class="align-top border-e border-gray-500">연락처</td>
                        <td>{{ refer.patient_phone }}</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">환자상병</td>
                        <td class="align-top border-e border-gray-500">
                            {% for ill in illnesses %}
                                <div class="">{{ill.illness}}</div>
                            {% endfor %}
                        </td>
                        <td class="align-top border-e border-gray-500">외뢰할 검사</td>
                        <td class="align-top">
                            {% for sim in simples %}
                                <div class="">{{sim.diagnosis}}</div>
                            {% endfor %}

                        </td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td colspan="1" class="align-top border-e border-gray-500">
                            <div class="font-semibold text-sm">임상소견:</div>
                        </td>
                        <td colspan="3" class="align-top border border-gray-500">
                            <div class="h-32 max-h-48 bg-base-50">{{ refer.opinion1|linebreaks }}</div>
                        </td>
                    </tr>
                    
                </table>
            
                {% if refer.status == 'Interpreted' or refer.status == "Cosigned" %}
                    
                    {% include 'crm/partial_return_report.html' %}
                
                
                    <div id="printSection" style="display:none"></div>
                    <div class="flex justify-end gap-2 mt-4">
                        {% if refer.status == 'Interpreted' %}

                            <a  href="#" 
                                class="btn btn-primary btn-sm"
                                data-confirm-url="{% url 'collab:refer_completed' refer.id %}"
                                onclick="confirmaCosign(this);"
                            >회송확인 및 완료처리하기(Co-sign)</a>
                            <script>
                                function confirmaCosign(element) {
                                    const confirmUrl = element.getAttribute('data-confirm-url');
                                    Swal.fire({
                                        title: 'Cosign',
                                        text: '회송내용을 확인하고 완료처리합니다.',
                                        showCancelButton: true,
                                        confirmButtonText: '완료',
                                        cancelButtonText: '취소',
                                        icon: 'warning'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = confirmUrl;
                                        }
                                    });
                                }
                            </script>

                        {% else %}

                            <a  href="#" 
                                class="btn btn-primary btn-sm"
                                data-archive-url="{% url 'collab:refer_archive' refer.id %}"
                                onclick="archive(this);"
                            >Archive 처리</a>
                            <script>
                                function archive(element) {
                                    const archiveUrl = element.getAttribute('data-archive-url');
                                    Swal.fire({
                                        title: 'Archive',
                                        text: '협진완료된 Case를 Archive 처리합니다.',
                                        showCancelButton: true,
                                        confirmButtonText: 'Archive',
                                        cancelButtonText: '취소',
                                        icon: 'warning'
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            window.location.href = archiveUrl;
                                        }
                                    });
                                }
                            </script>
                            
                        {% endif %}

                        <a href="{% url 'collab:index' %}" class="btn btn-primary btn-sm text-white ">돌아가기</a>

                        
                    </div>
                {% else %}
                <div id="printSection" style="display:none"></div>
                <div class="flex justify-end gap-2 mt-4">
                    {% if refer.status == 'Requested' %}
                        <a href="{% url 'collab:refer_update' refer.id %}" class="btn btn-primary btn-sm">수정하기</a>
                    {% endif %}
                    <a href="{% url 'collab:index' %}" class="btn btn-primary btn-sm text-white ">돌아가기</a>
                    <a href="{% url 'collab:refer_print' refer.id %}" class="btn btn-neutral btn-sm" onclick="openPopup(this.href); return false;">인쇄하기</a>

                    <script>
                        function openPopup(url) {
                            // Define the window features
                            var windowFeatures = 'width=800,height=600,scrollbars=yes,resizable=yes';
                        
                            // Open the new window with the specified URL and features
                            window.open(url, '_blank', windowFeatures);
                        }
                    </script>
                </div>
                                    
                {% endif %}

                
                
            </div>  
        </div>
    </div>
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-4">
    <div class="card-body grow-0">
        <div id="refer_create_box" class="">
            <ul class="steps steps-vertical">
            {% for his in history %}
                <li class="step step-primary" data-content="{{ forloop.counter }}">
                    <div class="flex flex-row justify-between w-80">
                        <div>{{ his.changed_status }} </div>
                        <span class="text-xs text-end"> {{ his.changed_at }} <br>by {{ his.changed_by }}</span>
                    </div>
                </li>
            {% endfor %}
            </ul>
            
        </div>
    </div>  
</section>
   
{% endblock %}

{% block aside %}

	{% include 'collab/aside.html' %}
	
{% endblock %}



