<tbody id="refer_tbody_box">
    {% for refer in refers %}
    <tr class="hover:bg-gray-100 hover:bg-opacity-50 cursor-pointer"
        onclick="location.href='{% url 'collab:refer_detail' refer.id %}'"
    >
        <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6 lg:pl-8">{{ refer.id }}</td>
        <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6 lg:pl-8">{{ refer.referred_date|date:'Y-m-d' }}</td>
        <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6 lg:pl-8">{{ refer.patient_name }}</td>
        <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6 lg:pl-8">{{ refer.patient_birthdate|date:'Y-m-d' }}</td>
        <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6 lg:pl-8">{{ refer.patient_phone }}</td>
        <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6 lg:pl-8">{{ refer.scheduled_at|date:'Y-m-d' }}</td>
        <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6 lg:pl-8">{{ refer.cosigned_at|date:'Y-m-d' }}</td>
        <td class="py-3.5 pl-4 pr-3 text-left text-sm sm:pl-6 lg:pl-8">
            {% if refer.status == 'Cosigned' %}
                <span class="badge bg-red-100 ">{{ refer.status }}</span>
            {% elif refer.status == 'Interpreted' %}
                <span class="badge bg-purple-100">{{ refer.status }}</span>
            {% elif refer.status == 'Requested' %}
                <span class="badge bg-yellow-100">{{ refer.status }}</span>
            {% elif refer.status == 'Scheduled' %}
                <span class="badge bg-green-100">{{ refer.status }}</span>
            {% elif refer.status == 'Cancelled' %}
                <span class="badge bg-gray-100">{{ refer.status }}</span>
            {% else %}
                <span class="badge badge-warning">{{ refer.status }}</span>
            {% endif %}
            
        </td>

    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <tr>
        <td colspan="9" class="">
            <div class="flex flex-row justify-between px-6 py-3">
                <div class="">
                    Total: {{ refers|length }}
                </div>
                <div class="join">
                    {% if refers.has_previous %}
                        <a href="?page=1" class="join-item btn">First</a>
                        <a href="?page={{ refers.previous_page_number }}" class="join-item btn">Previous</a>
                    {% endif %}
                    <span class="join-item btn">
                        Page {{ refers.number }} of {{ refers.paginator.num_pages }}
                    </span>
                    {% if refers.has_next %}
                        <a href="?page={{ refers.next_page_number }}" class="join-item btn">Next</a>
                        <a href="?page={{ refers.paginator.num_pages }}" class="join-item btn">Last</a>
                    {% endif %}
                </div>
            </div>
        </td>
    </tr>
</tfoot>