{% extends 'collab/base.html' %}
{% load custom_filters %}

{% block header %}
    {% include 'collab/header.html' %}
{% endblock %}

{% block content %}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                휴무일/근무시간 설정
            </h2>
        </div>
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class=" min-w-full py-2 align-middle sm:px-6 lg:px-8">
                {% include 'collab/partial/work_hours.html' %}
            </div>
        </div>
    </div>
    <div class="card-body grow-0">
        <div class="flex justify-start gap-2">
            <h2 class="card-title grow">
                휴무일 등록
            </h2>
            <div class="me-4 w-1/3 text-red-500 font-semibold">
                Off 인 날짜를 선택하세요.
            </div>
            <!-- <a href="{% url 'dashboard:workhours' %}" class="btn btn-sm btn-primary">Add</a> -->
        </div>
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class=" min-w-full py-2 align-middle sm:px-6 lg:px-8">
                {% include 'collab/partial/year_calendar.html' %}
            </div>
        </div>
    </div>
</section>
    
{% endblock %}

{% block aside %}

	{% include 'collab/aside.html' %}
	
{% endblock %}

