{% extends 'app_base.html' %}
{% load custom_filters %}
{% load humanize %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
        <div class="stats shadow">
            <div class="stat">
                <div class="text-2xl text-start font-bold">
                    {{ today|date:"Y, F j, l" }} 
                    
                </div>

            </div>
            <div class="stat">
                <div class="text-2xl text-start font-bold">
                    <input type="date" name="date-picker" id="date-picker" 
                        class="input input-bordered" 
                        value="{{ today|date:'Y-m-d' }}"
                        hx-get="{% url 'referdex:index' %}?date={{ today|date:'Y-m-d' }}&date-picker={{ today|date:'Y-m-d' }}"
                        hx-trigger="change" 
                        hx-target="#main_area" 
                        hx-swap="innerHTML"
                        hx-indicator="#spinner"
                    >
                    <script>
                        function updateDate() {
                            const selectedDate = document.getElementById('date-picker').value;
                            document.getElementById('selected-date').textContent = selectedDate;
                        }
                    </script>
                    <span id="selected-date"></span>
                    
                </div>
            </div>
            <div class="stat">
                <div class="flex flex-row">
                    <div class="bg-success text-lg w-8 h-8 text-white text-center font-semibold rounded-full me-4">{{ total_provider_a|intcomma }}</div>
                    <div class="bg-warning text-lg w-8 h-8 text-center font-semibold rounded-full">{{ total_provider_p|intcomma }}</div>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
        <div class="stats shadow">
            {% for specialty, stat in stat_values.items %}
            <div class="stat">
                <div class="text-xl text-center font-bold">{{ specialty }}</div>
                <div class="flex flex-row justify-center gap-4 bg-gray-100 p-2 mt-2 mb-2 w-full">
                    <div class="bg-success text-md w-6 h-6 text-white text-center font-semibold rounded-full">
                        {{ stat.count_provider_a }} 
                    </div>
                    <div class="bg-warning text-md w-6 h-6 text-center font-semibold rounded-full">
                        {{ stat.count_provider_p }} 
                    </div>
                </div>
                <div class="border-2">
                    <div class="stat-title px-2 flex flex-row">
                        <div class="w-1/3 text-secondary font-bold font-bold">CT</div>
                        <div class="w-1/3 font-bold text-end">{{ stat.sum_ct_target }}</div>
                        <div class="w-1/3 font-bold text-end">0</div>
                    </div>
                    <div class="stat-title font-bold px-2 flex flex-row bg-gray-100">
                        <div class="w-1/3 font-bold">MR</div>
                        <div class="w-1/3 font-bold text-end">{{ stat.sum_mr_target }}</div>
                        <div class="w-1/3 font-bold text-end">0</div>
                    </div>
                    <div class="stat-title px-2 flex flex-row">
                        <div class="w-1/3 font-bold">CR</div>
                        <div class="w-1/3 font-bold text-end">{{ stat.sum_cr_target }}</div>
                        <div class="w-1/3 font-bold text-end">0</div>
                    </div>
                    <div class="stat-title px-2 flex flex-row bg-gray-100">
                        <div class="w-1/3 font-bold">MG</div>
                        <div class="w-1/3 font-bold text-end">{{ stat.sum_mg_target }}</div>
                        <div class="w-1/3 font-bold text-end">0</div>
                    </div>
                </div>
            </div>
            {% endfor %}
            
        </div>
    </section>
    {% for specialty, providers in grouped_by_specialty.items %}
    <section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
        <div class="card-body">
            <h2 class="card-title">{{ specialty }}</h2>
            <div class="grid grid-cols-6 gap-4 md:grid-cols-12 lg:grid-cols-6">
                {% for provider in providers %}
                <!-- 선택된 요일에 근무시간이 입력되어 있는 경우에만 표시됩니다. -->
                {% if provider.workhours %}
                <div class="card bg-base-200 shadow-md">
                    <div class="card-body">
                        <div class="flex justify-between gap-2">
                            <a href="{% url 'provider:view_provider' provider.iid %}" class="link-hover link">
                                <h2 class="card-title">
                                    {{ provider.real_name }}
                                </h2>
                            </a>
                            <div>
                                {% if provider.contract_status == 'P' %}
                                <span class="badge badge-warning badge-md"></span>
                                {% else %}
                                <span class="badge badge-success badge-md"></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="flex flex-row flex-wrap gap-1 mb-2">
                                {% for target in provider.production_targets %}
                                <span class="badge badge-neutral">
                                    {{ target.modality|upper }} 
                                    {{ target.target_value }}/
                                    max {{ target.max_value }}
                                </span>
                                {% endfor %}
                            </div>
                            <div class="flex flex-row flex-wrap gap-1">
                                {% for hour in provider.workhours %}
                                    {{ hour.work_hour|get_workhour_short|safe}}
                                {% endfor %}
                            </div>
                            <!-- <div class="flex flex-row flex-wrap gap-1">
                                {% for pmd in provider.aggregated_pmds %}
                                    {{ pmd.modality|upper }}: {{ pmd.sum_assigned_qty }}
                                {% endfor %}
                            </div> -->
                        </div>
                        
                    </div>
                    
                </div>
                {% else %}
                {% endif %}

                {% endfor %}
                
            </div>    
        </div>
    </section>
    {% endfor %}  

{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}


