<div class="px-4 py-4 sm:px-6 lg:px-8"
    id="pm_list_box" 
    hx-trigger="PMListChanged from:body"
    hx-get="{% url 'referdex:partial_pm' %}" 
    hx-target="this"
    hx-swap="outerHTML"

>
    <div class="flex flex-row justify-between sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold text-gray-900">판독의뢰 목록</h1>
            <p class="mt-2 text-sm text-gray-700">해당 판독의뢰수량을 각 세부전공의에게 배분합니다.</p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
            <a class="btn btn-primary btn-sm"
                href="#"
                onclick=base_modal.showModal()
                hx-get="{% url 'referdex:pm_create' %}"
                hx-target="#base_modal"
                hx-swap="innerHTML"
                hx-trigger="click"

            >New</a>
        </div>
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th scope="col" class="whitespace-nowrap py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">#</th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Customer</th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Modality</th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Specialty</th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900 bg-green-100">Rqt Qty</th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900 bg-red-100">Assigned</th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Completed</th>
                            <th scope="col" class="whitespace-nowrap px-2 py-3.5 text-left text-sm font-semibold text-gray-900">Created</th>
                            <th scope="col" class="relative whitespace-nowrap py-3.5 pl-3 pr-4 sm:pr-0">
                                <span class="sr-only">Action</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="pm_list_box" class="divide-y divide-gray-200 bg-white"   >
                        {% for pm in pm_list %}
                        <tr class="hover:bg-gray-100 cursor-pointer">
                            <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm text-gray-500 sm:pl-0">{{ pm.id }}</td>
                            <td class="whitespace-nowrap px-2 py-2 text-sm font-medium text-gray-900"
                                onclick="document.location='{% url 'referdex:pm_detail' pm.id %}'"
                            >{{ pm.company }}</td>
                            <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900">{{ pm.modality|upper }}</td>
                            <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">{{ pm.specialty2 }}</td>
                            <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 font-bold bg-green-100">{{ pm.requested_qty }}</td>
                            <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 font-bold bg-red-100">{{ pm.total_assigned_qty }}</td>

                            <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-900 font-bold">
                                {% if pm.is_completed %}
                                    <div class="badge badge-success text-white rounded-md px-2 py-1 w-24">
                                        Completed
                                    </div>
                                {% else %}
                                    <div class="badge badge-error text-white rounded-md px-2 py-1 w-24">
                                        Pending
                                    </div>
                                {% endif %}

                            </td>
                            <td class="whitespace-nowrap px-2 py-2 text-sm text-gray-500">{{ pm.created_at }}</td>
                            <td class="relative whitespace-nowrap py-2 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                                {% if pm.is_completed %}
                                <button class="btn btn-primary btn-sm w-16"
                                    onclick="document.location='{% url 'referdex:pm_detail' pm.id %}'"
                                >Detail</button>
                                {% else %}
                                <button class="btn btn-primary btn-sm  w-16"
                                    onclick="document.location='{% url 'referdex:pm_detail' pm.id %}'"
                                >Detail</button>
                                <a class="btn btn-primary btn-sm w-16"
                                    href="#"
                                    onclick=base_modal.showModal()
                                    hx-get="{% url 'referdex:pm_edit' pm.id %}"
                                    hx-target="#base_modal"
                                    hx-swap="innerHTML"
                                    hx-trigger="click"
                                >Edit</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-start py-4 text-sm text-gray-500">No transactions found.</td>
                        </tr>
                        {% endfor %}
                        <!-- More transactions... -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>