{% extends 'app_base.html' %}
{% load custom_filters %}
{% load humanize %}
{% load widget_tweaks %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}


{% block content %}
<style>
    p {
        white-space: pre-line;
        margin-bottom: 0.8rem;
    }
</style>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">공지사항 게시판  </a>
            </h2>
            <a href="#"
                hx-get="{% url 'blog:index' %}"
                hx-trigger="click"
                hx-target="#main_area"
                hx-swap="outerHTML"
                class="btn btn-primary btn-sm">돌아가기</a>
                        
            
        </div>
    </div>
</section>

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <article class="card-body grow-0 col-span-12 max-w-5xl">
        <div class="grid grid-cols-4 gap-2 mt-4 border-b-2">
            <!-- Title Field -->
            <div class="col-span-4 flex flex-row justify-between">
                <div class="text-2xl font-bold hover:text-gray-700 pb-4 px-6">{{ post.title }}</div>
                <div class="flex items-end p-2">
                    {% if post.is_public %}
                        <span class="ml-2">공개</span>
                    {% else %}
                        <span class="ml-2">비공개</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-2 mt-0">
            <div class="col-span-4 px-6 bordered text-wrap">
                {{ post.content|safe }}
            </div>
        </div>
        <div class="grid grid-cols-4 gap-2 mt-4">
            <div class="form-control col-span-4">
                <label class="label">
                    <span class="label-text">첨부파일(들)</span>
                </label>
                <div class="flex flex-col gap-2 ">
                {% for post_attachment in post_attachments %}
                    <a href="{{ post_attachment.file.url }}" class="link px-2" target="_blank">
                        {{ post_attachment.file.name|filename }}
                    </a>
                {% empty %}
                    <div class="border bg-gray-100 p-2 w-full">No files.</div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class=" mt-4 ">
            <div class=" flex flex-row justify-between">
                <a href="{% url 'blog:index'%}"
                    type="link" 
                    class="btn btn-primary btn-sm w-40"
                >목록으로</a>
                {% if user.menu_id > 20 %}
                <a href="{% url 'blog:update' post.id %}"
                    type="link" 
                    class="btn btn-sm w-40"
                >수정하기</a>
                {% endif %}
            </div>
           
        </div>
    </article>
</section>
  
{% endblock %}


{% block aside %}

    {% include 'app_base_aside.html' %}
	
{% endblock %}

