{% extends 'dashboard/base.html' %}
{% load custom_filters %}
{% load humanize %}

{% block header %}
    {% include 'dashboard/header_dashboard.html' %}
{% endblock %}

{% block content %}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">공용 게시판</a>
            </h2>
            <a href="#"
                hx-get="{% url 'blog:create' %}"
                hx-trigger="click"
                hx-target="#main_area"
                hx-swap="outerHTML"
                class="btn btn-primary">New Post</a>
        </div>
    </div>
</section>  
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="space-y-12">
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <div class="overflow-x-auto shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
   
                        <table class="table">
                            <tr>
                                <th>작성자</th>
                                <th>제목</th>
                                <th>첨부파일</th>
                                <th>Created At</th>
                                <th>Actions</th>
                            </tr>
                            {% for post in posts %}
                                <tr>
                                    <td>{{ post.author }}</td>
                                    <td>{{ post.title }}</td>
                                    <td>{{ post.afile.name|filename }}</td>
                                    <td>{{ post.created_at }}</td>
                                    <td>
                                        <a 
                                            class="btn" 
                                            hx-get="{% url 'blog:update' post.id %}"
                                            hx-trigger="click"
                                            hx-target="#main_area"
                                            hx-swap="outerHTML"
                                        
                                        >Edit</a>
                                    </td>
                                </tr>
                                    
                            {% endfor %}
                        </table>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
{% endblock %}


{% block aside %}

	{% include 'dashboard/aside.html' %}
	
{% endblock %}

