{% extends 'app_base.html' %}
{% load custom_filters %}
{% load humanize %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">공지사항 게시판</a>
            </h2>
            {% if user.menu_id > 20 %}
            <a href="#"
                hx-get="{% url 'blog:create_admin' %}"
                hx-trigger="click"
                hx-target="#main_area"
                hx-swap="outerHTML"
                class="btn btn-primary btn-sm">새 공지사항 작성</a>
            {% endif %}
        </div>
    </div>
</section>  
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="space-y-12">
        <table class="min-w-full divide-y divide-gray-500">
            <thead >
                <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold  sm:pl-6 lg:pl-8">대상자</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold  sm:pl-6 lg:pl-8">제목</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold  sm:pl-6 lg:pl-8">작성자</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold  sm:pl-6 lg:pl-8">게시일</th>
                </tr>
            </thead>
            <tbody id="post_list" class="divide-y divide-gray-300">
                {% for post in posts %}
                <tr data-company-id="{{company.id}}">
                    <td class="whitespace-nowrap px-3 py-2 text-sm pl-6"> {{ post.category|handle_none }}</td>
                    <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium  sm:pl-6 hover:bg-sky-100" >
                        <a href="{% url 'blog:detail' post.id %}">
                            {{ post.title }}
                        </a>
                    </td>
                    <td class="whitespace-nowrap px-3 py-2 text-sm "> {{ post.author }}</td>
                    <td class="whitespace-nowrap px-3 py-2 text-sm "> {{ post.created_at|naturaltime }}</td>
                </tr>
                {% empty %}

                {% endfor %}
                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class="">
                        <div class="flex flex-row justify-between px-6 py-3">
                            <div class="">
                                Total: {{ posts.paginator.count }}
                            </div>
                            <div class="btn-group">
                                {% if posts.has_previous %}
                                    <a class="btn" hx-get="{% url 'blog:index' %}?page={{ posts.previous_page_number }}" hx-trigger="click" hx-target="#main_area" hx-swap="outerHTML">이전</a>
                                {% else %}
                                    <button class="btn" disabled>이전</button>
                                {% endif %}
                                <span class="btn">{{ posts.number }} / {{ posts.paginator.num_pages }}</span>
                                {% if posts.has_next %}
                                    <a class="btn" hx-get="{% url 'blog:index' %}?page={{ posts.next_page_number }}" hx-trigger="click" hx-target="#main_area" hx-swap="outerHTML">다음</a>
                                {% else %}
                                    <button class="btn" disabled>다음</button>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
    
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}

