
{% extends 'app_base.html' %}
{% load widget_tweaks %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}


{% block content %}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">공지사항 게시판  </a>
            </h2>
            <a href="#"
                hx-get="{% url 'blog:index' %}"
                hx-trigger="click"
                hx-target="#main_area"
                hx-swap="outerHTML"
                class="btn btn-primary">목록 보기</a>
                        
            
        </div>
    </div>
</section>

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12 container">
    <div class="card-body grow-0 col-span-12 max-w-4xl">
        <h2 class="card-title">새 공지사항 작성</h2>
        <form method="post" action="{% url 'blog:create_admin' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            
            <div class="grid grid-cols-4 gap-2">
              <!-- Title Field -->
              <div class="col-span-3">
                  <label class="label">
                      <span class="label-text">제목</span>
                  </label>
                  {% render_field form.title class="input input-sm input-bordered w-full" %}
                  {% if form.title.errors %}
                      <p class="text-red-500 text-xs italic">{{ form.title.errors.0 }}</p> <!-- Display the first error -->
                  {% endif %}
              </div>
              <!-- Public Checkbox -->
              <div class="">
                  <label class="label">
                      <span class="label-text">공개여부</span>
                  </label>
                  <div class="flex items-center px-2">
                      {% render_field form.is_public class="checkbox checkbox-sm" %}
                      <span class="ml-2">공개</span>
                  </div>
              </div>
          </div>
          
          <div class="grid grid-cols-4 gap-2">
            <div class="form-control col-span-4">
              <label class="label">
                <span class="label-text">내용</span>
              </label>
              {% render_field form.content class="textarea" %}
            </div>
          </div>

          <div class="grid grid-cols-4 gap-2 mt-4">
            <div class="form-control col-span-4">
              <input 
                type="file" 
                name="attachments" 
                id="attachments" 
                class="file-input file-input-bordered w-full max-w-xs" multiple>
            </div>
          </div>
          <div class="grid grid-cols-4 gap-2 mt-4">
            <div class="form-control col-span-1">
              <button type="submit" class="btn btn-primary w-40">저장</button>
            </div>
          </div>
        </form>
    </div>
</section>
  
{% endblock %}


{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}

