{% extends 'app_base.html' %}
{% load widget_tweaks %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}


{% block content %}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
  <div class="card-body grow-0">
      <div class="flex justify-between gap-2">
          <h2 class="card-title grow">
              <a class="link-hover link">공지사항 게시판  </a>
          </h2>
          <a href="#"
              hx-get="{% url 'blog:index' %}"
              hx-trigger="click"
              hx-target="#main_area"
              hx-swap="outerHTML"
              class="btn btn-primary">목록 보기</a>
                      
          
      </div>
  </div>
</section>


<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
  <div class="card-body grow-0 col-span-12 max-w-4xl">
        <h2 class="card-title">공지사항 수정</h2>
        <form method="post" action="{% url 'blog:update' post.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            <div class="grid grid-cols-2 gap-2">
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">제목</span>
                  </label>
                  {% render_field form.title  class="input input-sm input-bordered" %}
                  {% if form.title.errors %}
                    <p class="text-red-500 text-xs italic">{{ form.title.errors }}</p>
                  {% endif %}
                </div>
                <!-- Public Checkbox -->
                <div class="">
                    <label class="label">
                        <span class="label-text">공개여부</span>
                    </label>
                    <div class="flex items-center px-2">
                        {% render_field form.is_public class="checkbox checkbox-sm" %}
                        <span class="ml-2">공개</span>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-4 gap-2">
              <div class="form-control col-span-4">
                <label class="label">
                  <span class="label-text">내용</span>
                </label>
                {% render_field form.content class="textarea" %}
              </div>
            </div>
            <div class="grid grid-cols-4 gap-2 mt-4">
              <div class="form-control col-span-4">
                {% for file in post_attachments %}
                  <div class="flex flex-row gap-2" id="file-{{ file.id }}">
                    <span class="text-gray-500">{{ file.file.name }}</span>
                    <a href="{% url 'blog:delete_file' file.id %}" 
                       hx-delete="{% url 'blog:delete_file' file.id %}" 
                       hx-target="#file-{{ file.id }}" 
                       hx-swap="outerHTML"
                       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                       hx-confirm="Are you sure you want to delete this file?"
                       class="btn btn-error btn-sm">
                      Delete
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
            
            <div class="grid grid-cols-4 gap-2 mt-4">
              <div class="form-control col-span-4">
                <input 
                  type="file" 
                  name="attachments" 
                  id="attachments" 
                  class="file-input file-input-bordered w-full max-w-xs" multiple>
              </div>
            </div>
            <div class="flex flex-row justify-between gap-2 mt-4">
                <div class="flex gap-2">
                  <div class="form-control w-32">
                    <button class="btn btn-primary" type="submit">Save</button>
                  </div>
                  <div class="form-control w-32">
                    <a class="btn"  hx-get="{% url 'blog:index' %}" hx-target="#main_area" hx-swap="outerHTML" type="submit">Cancel</a>
                  </div>
                </div>
                  
                {% if post %}
                <div class="form-control">
                    <a class="btn btn-error text-white" onclick="confirm_modal.showModal()">Delete</a>
                </div>
                
                {% endif %}
            </div>
        </form>
        
    </div>
</section>
<dialog id="confirm_modal" class="modal">
  {% if post %}
    <form method="get" action="{% url 'blog:delete' post.id %}">
  {% endif %}
    <div class="modal-box">
        <p>Are you sure you want to delete this post?</p>
        <div class="modal-action">
            <button class="btn" @click.hide.modal(#confirm_modal)>Cancel</button>
            <button class="btn btn-error" type="submit">Delete</button>
        </div>
    </div>
  </form>
</dialog>
<script>
  document.body.addEventListener("fileDeleted", function(event) {
    console.log(event.detail);
    const fileId = event.detail.value;
    const fileDiv = document.getElementById(`file-${fileId}`);
    console.log(fileDiv);
    if (fileDiv) {
      fileDiv.remove();  // Remove the div with the file ID
    }
  });
</script>
  
{% endblock %}



{% block aside %}

	{% include 'dashboard/aside.html' %}
	
{% endblock %}

