<ul class="menu">
    <li>
        <a href="{% url 'blog:index' %}">
            <svg
            data-src="https://unpkg.com/heroicons/20/solid/flag.svg"
            class="h-5 w-5"></svg>
            게시판
        </a>
    </li>
    <li>
        <a href="{% url 'customer:index' %}">
            <svg data-src="https://unpkg.com/heroicons/20/solid/building-library.svg" class="h-5 w-5"></svg>
            고객정보
        </a>
    </li>
    <li>
        <a href="{% url 'crm:index' %}">
            <svg data-src="https://unpkg.com/heroicons/20/solid/building-library.svg" class="h-5 w-5"></svg>
            협진요청관리
        </a>
    </li>    
</ul>
   