
<ul class="menu">
    <li>
        <a href="{% url 'blog:index' %}">
            <svg
            data-src="https://unpkg.com/heroicons/20/solid/flag.svg"
            class="h-5 w-5"></svg>
            게시판
        </a>
    </li>
    <li>
        <a href="{% url 'customer:index' %}">
            <svg data-src="https://unpkg.com/heroicons/20/solid/building-library.svg" class="h-5 w-5"></svg>
            고객정보
        </a>
    </li>
    <li>
        <a href="{% url 'provider:index' %}">
            <svg 
            data-src="https://unpkg.com/heroicons/20/solid/users.svg"
            class="h-5 w-5"></svg>
            판독의사
        </a>
    </li>
    <li>
        <details>
            <summary>
                <svg
                    data-src="https://unpkg.com/heroicons/20/solid/globe-alt.svg"
                    class="h-5 w-5"></svg>
                협진관리
            </summary>
            <ul>
                <li>
                    <a href="{% url 'crm:collab_kanban' %}" class="px-5">대시보드</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="{% url 'crm:collab' %}" class="px-5">협진요청 보기</a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <details>
            <summary>
                <svg
                    data-src="https://unpkg.com/heroicons/20/solid/globe-alt.svg"
                    class="h-5 w-5"></svg>
                원격판독 관리
            </summary>
            <ul>
                <li>
                    <a href="{% url 'referdex:index' %}" class="px-5">부서 대시보드</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="{% url 'report:rad_by_subspecialty' %}" class="px-5">부서 통계</a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <a href="#"
            hx-get="{% url 'dashboard:stat' %}"
            hx-trigger="click"
            hx-target="#main_area"
            hx-swap="outerHTML"
            hx-push-url="true"
            hx-indicator="#spinner" 
        >
            <svg
                data-src="https://unpkg.com/heroicons/20/solid/squares-2x2.svg"
                class="h-5 w-5"></svg>
            판독 통계
        </a>
    </li>


</ul>
