{% load static %}
{% load django_vite %} 
<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% vite_hmr_client %}
    {% vite_asset 'static/js/main.js' %}
    {% block extra_css %}{% endblock %}
</head>
<body class="h-full w-full">
    {% include 'messages.html' %}
    <div class="min-h-full">
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>
