{% load static tailwind_tags %}
<!DOCTYPE html>
<html class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
</head>
<body class="h-full">
    <div class="min-h-full">
        {% block header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
