{% extends 'app_base.html' %}
{% load custom_filters %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex flex-row justify-even gap-2">
            <h2 class="card-title me-6">
                Radiologist List(의료진 목록)
            </h2>
            <div class="card-title">
                <form action="{% url 'provider:index' %}" method="GET">
                    <input type="text" name="q" class="input input-bordered" placeholder="Search..." value="{{ request.GET.q }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="px-6 mt-4">
        <table class="table table-zebra">
            <thead class="bg-gray-100">
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">RAD ID</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider ">Email</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Name</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Specialty 1</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Specialty 2</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">CV3 ID</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">OnPACS ID</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider">Status</th>
                    <th class="px-6 py-3 text-left text-xs font-medium text-gray-900 uppercase tracking-wider text-center">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for data in  doctors %}
                <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                        {{ data.username }}
                    </td>
                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-900">{{ data.email }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ data.profile.real_name }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ data.profile.specialty2|handle_none }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ data.profile.specialty3|handle_none }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ data.profile.cv3_id|handle_none }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ data.profile.onpacs_id|handle_none }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">{{ data.profile.contract_status|handle_none }}</td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 text-end">
                        <a href="{% url 'provider:view_provider' data.id %}" class="btn btn-primary btn-sm">Detail</a>
                        <a href="{% url 'provider:edit' data.id %}" class="btn btn-primary btn-sm">Edit</a>

                    </td>
                </tr>
            {% empty %}

            {% endfor %}

                
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class=" ">
                        <div class="flex flex-row justify-between px-6 py-3">
                            <div class="badge-primary p-4 rounded-lg">
                                Total: {{ doctors.paginator.count }}
                            </div>
                            <div class="join">
                                {% if doctors.has_previous %}
                                    <a href="?q={{ request.GET.q }}&page=1" class="join-item btn">First</a>
                                    <a href="?q={{ request.GET.q }}&page={{ doctors.previous_page_number }}" class="join-item btn">Previous</a>
                                {% endif %}
                                <span class="join-item btn">
                                    Page {{ doctors.number }} of {{ doctors.paginator.num_pages }}
                                </span>
                                {% if doctors.has_next %}
                                    <a href="?q={{ request.GET.q }}&page={{ doctors.next_page_number }}" class="join-item btn">Next</a>
                                    <a href="?q={{ request.GET.q }}&page={{ doctors.paginator.num_pages }}" class="join-item btn">Last</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
      
    </div>
</section>
    
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}
