{% extends 'app_base.html' %}
{% load custom_filters %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
<!-- <section class="card col-span-12 overflow-hidden shadow-sm xl:col-span-12"> -->
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex flex-row justify-even gap-2">
            <h2 class="card-title me-6">
                Radiologist List(의료진 목록)
            </h2>
            <div class="card-title">
                <form action="{% url 'provider:index' %}" method="GET">
                    <input type="text" name="q" class="input input-bordered input-sm w-80" placeholder="성명, 이메일, 전공 또는 PACS id....." value="{{ request.GET.q }}">
                    <button type="submit" class="btn btn-primary btn-sm">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="px-6 mt-4">
        <table class="min-w-full divide-y divide-gray-500">
            <thead >
                <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">RAD ID</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">Radiologist</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">Email</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">Phone</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">Specialty1</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">Specialty2</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">CV3 ID</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">OnPACS ID</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">Files</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold sm:pl-6 lg:pl-8">Status</th>
                    
                </tr>
            </thead>
            <tbody>
            {% for data in  doctors %}
                <tr data-company-id="{{company.id}}" class=" hover:bg-gray-500 hover:text-gray-100 hover:cursor-pointer"
                    onclick="location.href='{% url 'provider:view_provider' data.id %}'" 
                >
                    <td class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium  sm:pl-6">
                        {{ data.username }}
                    </td>
                    <td class="px-6 py-2 whitespace-nowrap text-sm ">{{ data.profile.real_name }}</td>
                    <td class="whitespace-nowrap px-3 py-2 text-sm ">{{ data.email }}</td>
                    <td class="whitespace-nowrap px-3 py-2 text-sm ">{{ data.profile.cellphone|handle_none }}</td>
                   
                    <td class="px-6 py-2 whitespace-nowrap text-sm ">{{ data.profile.specialty2|handle_none }}</td>
                    <td class="px-6 py-2 whitespace-nowrap text-sm ">{{ data.profile.specialty3|handle_none }}</td>
                    <td class="px-6 py-2 whitespace-nowrap text-sm ">{{ data.profile.cv3_id|handle_none }}</td>
                    <td class="px-6 py-2 whitespace-nowrap text-sm ">{{ data.profile.onpacs_id|handle_none }}</td>
                    <td class="px-6 py-2 whitespace-nowrap text-sm ">
                        {% if data.hr_files_count > 0 %}
                            <a href="#" class="btn btn-outline btn-xs">
                                {{ data.hr_files_count }}
                            </a> 
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="px-6 py-2 whitespace-nowrap text-sm ">
                        {% if data.profile.contract_status == 'T' %}
                        <span class="badge badge-error">{{ data.profile.contract_status|handle_none }}</span>
                        {% elif data.profile.contract_status == 'I' %}
                        <span class="badge badge-warning">{{ data.profile.contract_status|handle_none }}</span>
                        {% else %}
                        <span class="badge badge-success">{{ data.profile.contract_status|handle_none }}</span>
                        {% endif %}
                       
                    </td>
                </tr>
            {% empty %}

            {% endfor %}

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9" class=" ">
                        <div class="flex flex-row justify-between px-6 py-3">
                            <div class="badge-primary p-4 rounded-lg">
                                Total: {{ doctors.paginator.count }}
                            </div>
                            <div class="join">
                                {% if doctors.has_previous %}
                                    <a href="?q={{ request.GET.q }}&page=1" class="join-item btn">First</a>
                                    <a href="?q={{ request.GET.q }}&page={{ doctors.previous_page_number }}" class="join-item btn">Previous</a>
                                {% endif %}
                                <span class="join-item btn">
                                    Page {{ doctors.number }} of {{ doctors.paginator.num_pages }}
                                </span>
                                {% if doctors.has_next %}
                                    <a href="?q={{ request.GET.q }}&page={{ doctors.next_page_number }}" class="join-item btn">Next</a>
                                    <a href="?q={{ request.GET.q }}&page={{ doctors.paginator.num_pages }}" class="join-item btn">Last</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
      
    </div>
</section>
    
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}
