{% extends 'app_base.html' %}
{% load humanize %}
{% load  %}
{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
   
    <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
		<div class="card-body grow-0">
			<div class="flex justify-between gap-2">
				<h2 class="card-title grow">
					세부 정보 보기
				</h2>
				<div class="flex gap-4">
					<div class="flex items-end py-4">
						<a href="{% url 'provider:edit_provider' provider.id %}" class="btn btn-primary grow">수정하기</a>
						
					</div>
					<div class="flex items-end py-4">
						<a href="{% url 'provider:index' %}" class="btn btn-secondary grow">목록으로</a>
					</div>
				   
				</div>
			</div>

      	</div>
    	<div class="grid grid-cols-12 gap-2 px-6 mb-4">
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">성명(ID)</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.real_name }}/{{provider.id}}</div>
				
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">이메일</span>
				</label>
                <div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.email }}</div>
				
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">휴대폰</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.cellphone }}</div>
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">진료과</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.specialty1 }}</div>
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">소속</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.company }}</div>
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">ID</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.username }}</div>
			</div>
		</div>
		<div class="grid grid-cols-12 gap-2 px-6 mb-4">
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">ONPACS ID</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.onpacs_id }}</div>
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">CV3 ID</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.cv3_id }}</div>
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">세부전공1</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.specialty2 }}</div>
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">세부전공2</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.specialty3 }}</div>
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">세부전공3</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.specialty4 }}</div>
			</div>
			<div class="form-control col-span-2">
				<label class="label">
					<span class="label-text">세부전공4</span>
				</label>
				<div class="text-start px-2 py-3 bg-base-200 rounded">{{ provider.profile.specialty5 }}</div>
			</div>
		</div>
		<div class=" gap-2 px-6 mb-4">
            <div class="form-control col-span-4">
				<label class="label">
					<span class="label-text">메모</span>
				</label>
				<p class="text-start px-2 py-3 bg-base-200 rounded h-24">{{ provider.profile.bio }}</p>
			</div>
        </div>
		
	</section>
	<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
		<div class="card-body grow-0">
			<div class="flex justify-between gap-2">
				<h2 class="card-title grow">
					월별 판독현황 
				</h2>
			</div>
	  	</div>
		<div class="grid grid-cols-2 gap-2 px-6 mb-4">
			<table class="table">
				<thead>
					<tr>
						<th>년도</th>
						<th>월</th>
						<th>판독건수</th>
						<th>판독료</th>
						<th>-</th>
						<th>-</th>
					</tr>
				</thead>
				<tbody>
					{% for rs in rs_monthly %}
						<tr>
							<td>{{ rs.ayear }}</td>
							<td>{{ rs.amonth }}</td>
							<td>{{ rs.total_count_temp|floatformat:0|intcomma }}</td>
							<td>{{ rs.total_revenue_temp|floatformat:0|intcomma }}</td>
							<td>
								<button 
                                    onclick="base_modal.showModal()"
                                    class="btn btn-sm btn-info" 
                                    hx-get="{% url 'report:report_period_month_radiologist' rs.ayear rs.amonth provider.id %}"
                                    hx-trigger="click"
                                    hx-target="#base_modal"
                                    hx-swap="innerHTML"                                      
                                >Detail</button>
							</td>
							<td>
								<button 
                                    onclick="base_modal.showModal()"
                                    class="btn btn-sm btn-info" 
                                    hx-get="{% url 'minibooks:re_calc_share' rs.ayear rs.amonth provider.id %}"
                                    hx-trigger="click"
                                    hx-target="#base_modal"
                                    hx-swap="innerHTML"                                      
                                >재계산</button>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
			
		</div>

	</section>
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}


