{% extends 'app_base.html' %}
{% load humanize %}
{% load custom_filters %}
{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0 max-w-3xl">
        <div class="flex flex-col justify-between gap-2 w-full md:flex-row">
            <div class="flex flex-col justify-between gap-4 md:flex-row">
                <h2 class="card-title pl-4 me-4">
                    판독의 세부정보
                </h2>
                <div class="flex justify-start items-center w-80 pt-2 rounded-lg">
                    <form action="{% url 'provider:index' %}" method="GET">
                    <div class="flex flex-row gap-2">
                        <input type="text" name="q" class="input input-bordered input-sm w-full" placeholder="성명, 전공 또는 PACS id....." value="{{ request.GET.q }}">
                        <button type="submit" class="btn btn-primary btn-sm">Search</button>
                    </div>
                    </form>
                </div>
            </div>
            <div class="text-start me-4 pt-2">
				<a href="{% url 'provider:index' %}" class="btn btn-primary btn-sm w-20">list</a>
            </div>
        </div>
    </div>
</section>

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
	
	<div class="grid grid-cols-2 gap-2 px-6 mb-4 sm:grid-cols-4">
		<div class="form-control">
			<label class="label">
				<span class="label-text">성명(ID)</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md">{{ provider.profile.real_name }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">이메일</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md">{{ provider.profile.email }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">휴대폰</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.cellphone }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">진료과</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.specialty1 }}</div>
		</div>
	</div>
	<div class="grid grid-cols-2 gap-2 px-6 mb-4 sm:grid-cols-4">
		<div class="form-control">
			<label class="label">
				<span class="label-text">면허</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.license_number|handle_none }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">HumanRad ID</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.username }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">ONPACS ID</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.onpacs_id }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">CV3 ID</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.cv3_id }}</div>
		</div>
	</div>
	<div class="grid grid-cols-2 gap-2 px-6 mb-4 sm:grid-cols-4">
		<div class="form-control">
			<label class="label">
				<span class="label-text">세부전공1</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.specialty2 }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">세부전공2</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.specialty3 }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">세부전공3</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.specialty4 }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">세부전공4</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.specialty5 }}</div>
		</div>
	</div>
	<div class="grid grid-cols-2 gap-2 px-6 mb-4 sm:grid-cols-4">
		<div class="form-control">
			<label class="label">
				<span class="label-text">Fee Rate</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">{{ provider.profile.fee_rate }}</div>
		</div>
		<div class="form-control">
			<label class="label">
				<span class="label-text">계약상태</span>
			</label>
			<div class="flex flex-row p-2 font-semibold rounded-lg text-md"">
				{% if provider.profile.contract_status == 'I' %}
					Inactive
				{% elif provider.profile.contract_status == 'A' %}
					Active
				{% else %}
					{{ provider.profile.contract_status }}
				{% endif %}
			</div>
		</div>
		<div class="form-control col-span-2" md:col-span-1>
			<label class="label">
				<span class="label-text">메모</span>
			</label>
			<div class="text-start px-2 py-3 h-24 rounded">{{ provider.profile.bio }}</div>
		</div>
	</div>
	
</section>
<!-- 판독의 매출 // 일반사용자는 볼 수 없음 // 관리자(팀장이상)에서 보여짐 -->
{% if user.menu_id > 10 %}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-6">
	<div class="card-body grow-0">
		<div class="flex justify-between gap-2">
			<h2 class="card-title grow">
				월별 판독현황 
			</h2>
		</div>
	</div>
	<div class="w-full px-6 mb-4">
		<table class="table w-full">
			<thead class="border-b-2 ">
				<tr>
					<th>년도</th>
					<th>월</th>
					<th>판독건수</th>
					<th>판독료</th>
					<th>지급액</th>
					<th>-</th>
					
				</tr>
			</thead>
			<tbody>
				{% for rs in rs_monthly %}
					<tr>
						<td>{{ rs.ayear }}</td>
						<td>{{ rs.amonth }}</td>
						<td>{{ rs.total_count_temp|floatformat:0|intcomma }}</td>
						<td>{{ rs.total_revenue_temp|floatformat:0|intcomma }}</td>
						<td>{{ rs.tatal_expense_temp|floatformat:0|intcomma }}</td>
						<td>
							<button 
								onclick="base_modal.showModal()"
								class="btn btn-xs btn-info" 
								hx-get="{% url 'report:report_period_month_radiologist' rs.ayear rs.amonth provider.id %}"
								hx-trigger="click"
								hx-target="#base_modal"
								hx-swap="innerHTML"                                      
							>세부</button>
							<a href="{% url 'report:report_period_month_radiologist_csv' rs.ayear rs.amonth provider.id %}"
								class="btn btn-xs btn-secondary"
								target="_blank"                                   
							>CSV</a>
						</td>

						
							<!-- <td><button 
								onclick="base_modal.showModal()"
								class="btn btn-sm btn-info" 
								hx-get="{% url 'minibooks:re_calc_share' rs.ayear rs.amonth provider.id %}"
								hx-trigger="click"
								hx-target="#base_modal"
								hx-swap="innerHTML"                                      
							>재계산</button></td> -->
						
					</tr>
				{% endfor %}
			</tbody>
		</table>
		
	</div>

</section>
{% endif %}
<section 
	id="hr_files_section" 
	class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-6"
	hx-trigger="HRfilesChanged from:body"
	hx-get="{% url 'provider:hr_files' provider.id %}" 
	hx-target="this"
	>
	
	{% include 'provider/hr_files.html' %}
	
</section>

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-6">
	
	{% include 'dashboard/partial/weekday_modality_targets.html' %}   
	
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-6">
	{% include 'dashboard/partial/work_hours.html' %}
	
</section>

<section 
	id="match_rules_box" 
	class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-6"
	hx-trigger="MatchRuleChanged from:body"
	hx-get="{% url 'referdex:partial_match_rules' provider.id %}" 
	hx-target="this"
	>
	{% include 'referdex/match_rules.html' %}
	
</section>

{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}


