{% extends 'app_base.html' %}
{% load custom_filters %}
{% load humanize %}
{% block title %}
   <title>협진 대시보드 | Humanrad</title>
{% endblock %}
{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex gap-2 w-full">
            <h2 class="card-title flex-initial w-64 px-4 ">
                협진의뢰 대시보드
            </h2>
            <div class="flex-auto">
                <form method="get" action="{% url 'crm:collab_kanban' %}" class="flex flex-row gap-2 align-bottom">
                    <label class="input input-bordered input-sm flex items-center gap-2">
                        <input type="text" class="grow input input-sm" placeholder="Search" name="q" value="{{q}}" />
                    </label>
                    <button type="submit" class="btn btn-primary btn-sm">검색</button>
                    <button type="button" class="btn btn-sm"
                        onclick="window.location.href='{% url 'crm:collab_kanban' %}'"
                    >전체보기</button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- <section class="flex flex-col w-full h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200 xl:col-span-12"> -->
<section class="w-full h-screen bg-base-100 shadow-sm col-span-12 xl:col-span-12 overflow-auto ">
	{% include 'crm/partial_collab_kanban.html' %}
</section>


  
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}