{% load static %}
{% load custom_filters %}

{% load widget_tweaks %}
<div id="report_create_box" class="modal-box card-body w-2/3 h-full max-w-3xl">
    
    <div class="w-full">
        <form 
          hx-post="{% url 'crm:collab_report' refer.id %}" 
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
          hx-swap="outerHTML" 
          hx-trigger="submit"
          hx-target="#history_box"
          id="new_report_form"
        >
        <table class="table w-full" >
            <tr>
                <td colspan="4" class="w-full text-center font-semibold bg-base-200">진 료 회 송 서</td>
            </tr>
            <tr>
                <td>의뢰병원</td><td>{{refer.company.business_name}} </td>
                <td>의사명</td><td>{{refer.company.president_name}} </td>
            </tr>
            <tr>
                <td>환자명</td><td>{{refer.patient_name}} </td>
                <td>성별</td><td>{{refer.patient_gender}} </td>
            </tr>
            <tr>
                <td>생년월일</td><td>{{refer.patient_birthdate}} </td>
                <td>연락처</td><td>{{refer.patient_phone}} </td>
            </tr>
            <tr>
                <td colspan="1" class="align-top">향후치료<br>의견 1</td>
                <td colspan="3">{% render_field form.opinion2 class="textarea textarea-bordered w-full" cols=50 rows=10 %}</td>
            </tr>
            {% if count_simples > 1 %}
            <tr>
                <td colspan="1" class="align-top">향후치료<br>의견 2</td>
                <td colspan="3">{% render_field form.opinion3 class="textarea textarea-bordered w-full" cols=50 rows=10 %}</td>
            </tr>
            {% endif %}
            {% if count_simples > 2 %}
            <tr>
                <td colspan="1" class="align-top">향후치료<br>의견 3</td>
                <td colspan="3">{% render_field form.opinion4 class="textarea textarea-bordered w-full" cols=50 rows=10 %}</td>
            </tr>
            {% endif %}
            <tr>
                <td>회송일</td><td>{% render_field form.opinioned_at class="input input-bordered input-sm" type="date"%}}</td>                    
                <td>현재상태</td><td>{% render_field form.status class="select select-bordered select-sm w-32 py-0" %}</td>                
            </tr>
            <tr>
                <td colspan="1">판독의</td>
                <td colspan="3">
                    {% if refer.provider is None %}
                        {% render_field form.radio_doctor class="input input-bordered input-sm w-32 py-0" value="휴먼" %}
                    {% else %}
                        {% render_field form.radio_doctor class="input input-bordered input-sm w-32 py-0" %}
                    {% endif %}
                </td>               
            </tr>
            
        </table>

        <div class="divider"></div>
        <div class="flex flex-row justify-end gap-2">
            <button class="btn btn-primary btn-sm" type="submit">저장하기</button>
            <form method="dialog">  
                <button class="btn btn-warning btn-sm">취소하기</button>
            </form>
        </div>
        </form>
        <script>
            document.getElementById('history_box').addEventListener('htmx:beforeSwap', function(event) {
                if (event.detail.target.id === 'history_box') {
                    // Check if the form submission was successful
                    console.log("Status:", event.detail.xhr.status);
                    console.log("Headers:", event.detail.xhr.getAllResponseHeaders());
                    if (event.detail.xhr.status === 200) {
                        // If successful, close the modal
                        base_modal.close();
                        console.log("Form submission successful");
                    } else {
                        // If there are validation errors, keep the modal open
                        console.log("Form submission failed with validation errors");
                    }
                }
            });
        
        </script>
    </div>  
</div>


