{% load widget_tweaks %}
<section id="refer_file_box" class="card bg-base-100 w-96 overflow-hidden shadow-sm xl:col-span-6 ">
    <div class="card-body">
        <h2 class="card-title mb-4"> 첨부파일 업로드 ({{ refer.id }})</h2>
        <h2 class="text-sm mb-4">주의: 한번에 업로드하는 파일갯수는 50개 이하</h2>
       
        <div class="flex flex-col gap-2">
            <form 
                id="refer_file_upload_form"
                hx-post="{% url 'crm:collab_refer_file_upload' refer.id %}"
                hx-encoding='multipart/form-data' 
                enctype="multipart/form-data"
                class = "flex flex-col gap-2"
            >
                {% csrf_token %}
                <div>
                    <input 
                        type="file" 
                        name="file" 
                        id="file" 
                        class="file-input file-input-bordered w-full max-w-xs file-input-sm" 
                        multiple
                        accept=".dcm"
                    >
                </div>
                <div class="form-control flex flex-row gap-2 justify-between">
                    <button type="submit" class="btn btn-primary btn-sm w-24">Upload</button>
                    <button type="button" class="btn btn-sm" onclick="base_modal.close()">Close</button>
                </div>
                <div id="progress-container" class="h-12 mt-4 overflow-hidden">
                    <progress 
                    id='progress' 
                    class="progress progress-primary w-full mb-1" 
                    value="0" 
                    max="100"
                    ></progress>
                </div>
                <div id="upload-status">0 files uploaded</div>
            </form>
        </div>
    </div>
    <script>
   
        document.getElementById('file').addEventListener('change', function() {
            const fileInput = document.getElementById('file');
            const maxFiles = 50;
            const numFiles = fileInput.files.length;

            if (numFiles > maxFiles) {
                alert(`You have selected ${numFiles} files. The maximum allowed is ${maxFiles}.`);
                fileInput.value = ''; // Clear the input
            }
        });

        htmx.on('#refer_file_upload_form', 'htmx:xhr:progress', function(evt) {
            htmx.find('#progress').setAttribute('value', evt.detail.loaded/evt.detail.total * 100)
            htmx.find('#upload-status').innerText = Math.round(evt.detail.loaded/evt.detail.total * 100) + '% uploaded';
        });
       
        
    </script>
</section>