{% extends 'app_base.html' %}
{% load custom_filters %}
{% load humanize %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex gap-2 w-full">
            <h2 class="card-title flex-initial w-64 px-4 ">
                검사의뢰서 관리
            </h2>
            <div class="flex-auto">
                <form method="get" action="{% url 'crm:collab' %}" class="flex flex-row gap-2 align-bottom">
                    <label class="input input-bordered input-sm flex items-center gap-2">
                        <input type="text" class="grow input input-sm" placeholder="Search" name="q" />
                    </label>
                    <button class="btn btn-primary btn-sm">검색</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">

        <table class="min-w-full divide-y divide-gray-500">
            <thead >
                <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">#</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">의뢰일</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">병원명</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">환자명</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">환자연락처</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">요청검사</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">예약일</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">진료일</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8">현재상태</th>
                    
                </tr>
            </thead>
            {% include 'crm/crm_refers.html' %}
            
        </table>
      
    </div>
</section>

    
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}