{% extends 'app_base.html' %}
{% load static %}
{% load custom_filters %}
{% load humanize %}

{% block header %}
    {% include 'app_base_header.html' %}
{% endblock %}

{% block content %}
<section class="card card-compact col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0 flex flex-row justify-between">
        <div class="flex gap-2 w-full">
            <h2 class="card-title flex-initial w-64 px-4 ">
                검사의뢰서 관리
            </h2>
            <div class="flex-auto">
                <form method="get" action="{% url 'crm:collab' %}" class="flex flex-row gap-2 align-bottom">
                    <label class="input input-bordered input-sm flex items-center gap-2">
                        <input type="text" class="grow input input-sm" placeholder="Search" name="q" />
                    </label>
                    <button class="btn btn-primary btn-sm">검색</button>
                </form>
            </div>
        </div>
        <div>
            <a href="{% url 'crm:collab' %}" class="btn btn-primary btn-sm w-24">목록보기</a>
        </div>
    </div>
</section>

<!-- <section class="flex flex-col w-full h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200 xl:col-span-12"> -->
<section class="card  col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-8">
    <div class="card-body grow-0">
        <div id="refer_create_box" class="">
            <div id="print_area" class="w-full">
                <table  class="table min-w-full divide-y devide-x divide-gray-900">
                    <tr class="align-top border border-gray-500">
                        <td colspan="4" class="w-24 text-bold text-2xl text-center">검  사  의  뢰  서</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="w-24 align-top border-e border-gray-500">의뢰병원</td>
                        <td class="w-48 align-top border-e border-gray-500">{{company.business_name}} </td>
                        <td class="w-24 align-top border-e border-gray-500">의사명</td>
                        <td class="w-48">{{company.president_name}} </td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">의뢰일</td>
                        <td class="align-top border-e border-gray-500">{{ refer.referred_date }}</td>
                        <td class="align-top border-e border-gray-500">상태</td>
                        <td>
                            <div id="status_box" class="text-semibold">{{ refer.status }}</div>
                        </td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">환자명</td>
                        <td class="align-top border-e border-gray-500">{{ refer.patient_name }}</td>
                        <td class="align-top border-e border-gray-500">환자성별</td>
                        <td>{{ refer.patient_gender }}</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">생년월일</td>
                        <td class="align-top border-e border-gray-500">{{ refer.patient_birthdate }}</td>
                        <td class="align-top border-e border-gray-500">연락처</td>
                        <td>{{ refer.patient_phone }}</td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td class="align-top border-e border-gray-500">환자상병</td>
                        <td class="align-top border-e border-gray-500">
                            {% for ill in illnesses %}
                                <div class="">{{ill.illness}}</div>
                            {% endfor %}
                        </td>
                        <td class="align-top border-e border-gray-500">외뢰할 검사</td>
                        <td class="align-top">
                            {% for sim in simples %}
                                <div class="">{{sim.diagnosis}}</div>
                            {% endfor %}

                        </td>
                    </tr>
                    <tr class="align-top border border-gray-500">
                        <td colspan="1" class="align-top border-e border-gray-500">
                            <div class="font-semibold text-sm">임상소견:</div>
                            
                        </td>
                        <td colspan="3" class="align-top border border-gray-500">
                            <div class="h-32 max-h-48 bg-base-50">
                                <div class="h-full w-full relative overflow-auto">
                                    <button onclick="copyToClipboard()" id="btn_copy" class="absolute top-0 right-0 btn btn-xs btn-secondary">Copy</button>
                                    {{ refer.opinion1|linebreaks }}
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                </table>

                <table  class="table min-w-full divide-y devide-x divide-gray-900">
                    <tr class="align-top border border-gray-500">
                        <td class="w-32 align-top border-e border-gray-500">예약일시</td>
                        <td colspan="3" class="align-top border-e border-gray-500">
                            <div id="scheduled_at_box">{{ refer.scheduled_at }}</div>
                        </td>
                    </tr>
                </table>
                <!-- 숨겨진 부분(클립보드로 복사하기 위함) -->
                <div class="w-0 h-0 text-base-0 overflow-hidden" id="copyInput">
                    <span>상병명:<br/>
                    {% for ill in illnesses %}
                        <span>&nbsp;{{ill.illness}}</span><br>
                    {% endfor %}
                    </span>
                    <span>요청검사:<br/>
                    {% for sim in simples %}
                        <span>&nbsp;{{sim.diagnosis}}</span><br>
                    {% endfor %}
                    </span>
                    <span>임상소견:<br/>
                        &nbsp;{{ refer.opinion1|trim }}
                    </span>
                </div>

                {% if refer.status == 'Requested' %}
                <div id="return_report"></div>
                <div class="flex justify-end gap-2 mt-4">
                    <a href="{% url 'crm:collab_kanban' %}" class="btn btn-primary btn-sm text-white ">대시보드로 돌아가기</a>
                    <a 
                        class="btn btn-secondary btn-sm" 
                        onclick="base_modal.showModal()"
                        hx-get="{% url 'crm:collab_schedule' refer.id %}" 
                        hx-swap="innnerHTML" 
                        hx-trigger="click"
                        hx-target="#base_modal"
                    >
                    검사예약 입력하기
                    </a>
                    <a href="{% url 'crm:collab_schedule_one' refer.id %}" class="btn btn-success btn-sm text-white">간편 예약완료 처리</a>
                        
                </div>

                {% elif refer.status == 'Scheduled' %}
                <div id="return_report"></div>
                <div class="flex justify-end gap-2 mt-4">
                    <a href="{% url 'crm:collab_kanban' %}" class="btn btn-primary btn-sm text-white ">대시보드로 돌아가기</a>
                    <a 
                        class="btn btn-secondary btn-sm" 
                        onclick="base_modal.showModal()"
                        hx-get="{% url 'crm:collab_schedule' refer.id %}" 
                        hx-swap="innnerHTML" 
                        hx-trigger="click"
                        hx-target="#base_modal"
                    >
                    검사예약 수정하기
                    </a>
                    <a 
                        class="btn btn-success btn-sm text-white" 
                        onclick="base_modal.showModal()"
                        hx-get="{% url 'crm:collab_report' refer.id %}" 
                        hx-swap="innnerHTML" 
                        hx-trigger="click"
                        hx-target="#base_modal"
                    >
                    진료회송서 작성
                    </a>
                    <a href="{% url 'crm:collab_report_one' refer.id %}" class="btn btn-success btn-sm text-white">간편 진료회송서 처리</a>
                </div>

                {% elif refer.status == 'Interpreted' %}
                    <div id="return_report">
                        {% include 'crm/partial_return_report.html' %}
                    </div>
                    <div class="flex justify-end gap-2 mt-4">
                        <a href="{% url 'crm:collab_kanban' %}" class="btn btn-primary btn-sm text-white ">대시보드로 돌아가기</a>
                        <a 
                            class="btn btn-secondary btn-sm" 
                            onclick="base_modal.showModal()"
                            hx-get="{% url 'crm:collab_report' refer.id %}" 
                            hx-swap="innnerHTML" 
                            hx-trigger="click"
                            hx-target="#base_modal"
                        >
                        진료회송서 수정
                        </a>
                    </div>

                {% elif refer.status == 'Cancelled' %}
                    
                    <div class="flex justify-end gap-2 mt-4">
                        <a href="{% url 'crm:collab_kanban' %}" class="btn btn-primary btn-sm text-white ">대시보드로 돌아가기</a>
                    </div>
                
                    
                {% else %}
                    <div id="return_report">
                        {% include 'crm/partial_return_report.html' %}
                    </div>
                    <div class="flex justify-end gap-2 mt-4">
                        <a  href="#" 
                            class="btn btn-primary btn-sm"
                            data-archive-url="{% url 'crm:collab_refer_archive' refer.id %}"
                            onclick="archive(this);"
                        >Archive 처리</a>
                        <script>
                            function archive(element) {
                                const archiveUrl = element.getAttribute('data-archive-url');
                                Swal.fire({
                                    title: 'Archive',
                                    text: '협진완료된 Case를 Archive 처리합니다.',
                                    showCancelButton: true,
                                    confirmButtonText: 'Archive',
                                    cancelButtonText: '취소',
                                    icon: 'warning'
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        window.location.href = archiveUrl;
                                    }
                                });
                            }
                        </script>
                        <a href="{% url 'crm:collab_kanban' %}" class="btn btn-primary btn-sm text-white ">대시보드로 돌아가기</a>
                    </div>
                    
                {% endif %}
                
            </div>  
        </div>
    </div>
</section>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-4">
    <div class="card-body grow-0">
        <ul id="history_box" class="steps steps-vertical">
        {% for his in history %}
            <li class="step step-primary" data-content="{{ forloop.counter }}">
                <div class="flex flex-row justify-between w-80">
                    <div>{{ his.changed_status }} </div>
                    <span class="text-xs text-end">{{his.memo}}<br> {{ his.changed_at }} by {{ his.changed_by }}</span>
                </div>
            </li>
        {% endfor %}
        </ul>
        
    </div>  
</section>
<script>
    function copyToClipboard() {
        // Select the input element
        var copyText = document.getElementById("copyInput");
        var btnCopy = document.getElementById("btn_copy");
      
        // Create a range object
        var range = document.createRange();
        range.selectNode(copyText);
      
        // Select the text
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
      
        // Copy the text inside the text field
        navigator.clipboard.writeText(copyText.innerText)
          .then(() => {
            // Alert the copied text
            // alert("Copied the text: " + copyText.innerText);
            btnCopy.innerHTML = 'Copied';
            //
          })
          .catch(err => {
            console.error('Failed to copy: ', err);
          });
    }
      
</script>
  
{% endblock %}

{% block aside %}

	{% include 'app_base_aside.html' %}
	
{% endblock %}

