<div class="flex flex-column gap-4 px-6">
    <div class="">
        <a href="#"
            hx-trigger="click"
            hx-target="#stat_panel"
            hx-swap="innerHTML"
            hx-transition=""
            hx-indicator="#spinner"
            >
            업무 처리 상황판
        </a>
    </div>
    <!-- <div class="">
        <a href="#"
            hx-trigger="click"
            hx-target="#stat_panel"
            hx-swap="innerHTML"
            hx-transition=""
            hx-indicator="#spinner"
            >
            환자상담 
        </a>
    </div>
    <div class="">
        <a href="#"
            hx-trigger="click"
            hx-target="#stat_panel"
            hx-swap="innerHTML"
            hx-transition=""
            hx-indicator="#spinner"
            >
            이슈관리 
        </a>
    </div>
    -->
   
</div>