{% load custom_filters %}
{% load humanize %}

<div class="grid grid-cols-12 grid-rows-[min-content] gap-y-6 lg:gap-x-6 lg:gap-y-6">
  <section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-6">
      <div class="card-body grow-0 flex flex-row justify-between">
        <h2 class="card-title">
          <a class="link-hover link">병원관련 이슈관리</a>
        </h2>
        <div>
         
        </div>
      </div>
      <div class="flex flex-row flex-wrap gap-4 overflow-y-auto px-4">
      
            {% for rs in opps %}
            <div class="card card-compact bg-base-100 w-48 shadow-xl">
              <div class="card-body">
                <h3 class="font-semibold"><a href="{% url 'customer:detail' rs.company.id %}" class="link">{{ rs.company }}</a></h3>
                <div class="flex flex-row justify-between">
                  <span>{{ rs.name }} </span>
                  {% if rs.category  == 'Sale' %}
                    <span class="badge badge-secondary">{{ rs.category }}</span>
                  {% else %}
                    <span class="badge badge-warning">{{ rs.category }}</span>
                  {% endif %}
                </div>
                {% if rs.category == "Sale" %}
                <div class="flex flex-row justify-between">
                  <span>{{ rs.amount|floatformat:0|intcomma }} </span>
                  <span>{{ rs.possibility }}%</span>
                </div>
                {% endif %}
                <div class="flex flex-row justify-between">
                  <span>목표일:</span>
                  <span>{{ rs.target_date|date:'Y-m-d' }}</span>
                </div>
                <div class="flex flex-row justify-between">
                  <span>Stage:</span>
                  <span>{{ rs.stage }}</span>
                </div>
                <div class="flex flex-row justify-between">
                  <span>담당자:</span>
                  <span>{{ rs.agent }}</span>
                </div>
                
                <!-- <div class="card-actions justify-end">
                  <button class="btn btn-primary btn-sm">Detail</button>
                </div> -->
              </div>
            </div>
           
            {% endfor %}
           
      </div>
      <div>
        &nbsp;
      </div>
  </section>
  

  <section class="card col-span-12 bg-base-100 shadow-sm xl:col-span-6">
    <div class="card-body grow-0">
      <h2 class="card-title">
        <a class="link-hover link">최근 소통들</a>
      </h2>
    </div>
    <div class="overflow-x-auto px-4">
   
        <table class="table table-zebra w-full">
          {% for rs in c_logs %}
          <tr>
            <td>
              <p><a href="{% url 'customer:detail' rs.company.id %}" class="link">{{ rs.company }}</a></p>
              {% if rs.level == 'INFO' %}
                <span class="badge badge-info mt-1">{{ rs.level }}</span>
              {% elif rs.level == 'WARNING' %}
                <span class="badge badge-warning mt-1">{{ rs.level }}</span>
              {% else %}
                <span class="badge badge-error mt-1">{{ rs.level }}</span>
              {% endif %}
            </td>
            <td><p class="text-start">{{ rs.log|truncatechars:30 }}</p></td>
            <td><p class="text-start">{{ rs.updated_by }}</p>
              <p class="text-end">{{ rs.created_at|naturaltime }}</p>
            </td>
          </tr>
          {% endfor %}
         
        </table>
       
    </div>
  </section>
</div>
