    <div class="card-body grow-0">
        <div class="grid grid-cols-2 gap-4">
            <h3 class="text-lg font-bold">{{ s_year }}년 {{ s_month }}월 <br>{{ company.business_name }} 협진의뢰 요약<br>(Cosign일 기준)</h3>
            <div class="flex flex-row gap-2 align-bottom">
                <a href="#" class="btn btn-sm btn-secondary"
                    hx-get="{% url 'crm:refers_by_company_monthly' company.id %}?s_year={{ today.year|default:'' }}&s_month={{ today.month|default:'' }}"
                    hx-target="#data_detail"
                    hx-swap="innerHTML"
                    hx-indicator="#spinner"
                >
                    {{ today.month }}월
                </a>
                <a href="#" class="btn btn-sm btn-primary"
                    hx-get="{% url 'crm:refers_by_company_monthly' company.id %}?s_year={{ one_month_before.year|default:'' }}&s_month={{ one_month_before.month|default:'' }}"
                    hx-target="#data_detail"
                    hx-swap="innerHTML"
                    hx-indicator="#spinner"
                >
                    {{ one_month_before.month }}월
                </a>
                <a href="#" class="btn btn-sm btn-primary"
                    hx-get="{% url 'crm:refers_by_company_monthly' company.id %}?s_year={{ two_months_before.year|default:'' }}&s_month={{ two_months_before.month|default:'' }}"
                    hx-target="#data_detail"
                    hx-swap="innerHTML"
                    hx-indicator="#spinner"
                >
                    {{ two_months_before.month }}월
                </a>
            </div>
        </div>
        <div class="divider"></div>

        <div class="mt-4 flex flex-col gap-4">
            <div class="flex flex-row items-center justify-between">
                <h3 class="text-lg font-bold">총 합계: </h3>
                <span class="badge badge-secondary">{{ refer_count }}건</span>
            </div>
            <div class="flex flex-row items-center justify-between">
                <h3 class="text-lg font-bold">진단검사별 합계: </h3>
                <span class="badge badge-warning">{{ rsd_count }}건</span>
            </div>
            <div class="flex flex-col gap-2">
                    {% for rs in rsd %}
                    <div class="flex flex-row items-center justify-between">
                        <div class="px-2">
                            <span class="font-bold">{{ rs.diagnosis__code1|default:" " }} {{ rs.diagnosis__code2|default:" " }} {{ rs.diagnosis__code3|default:" " }} {{ rs.diagnosis__code4|default:" " }}</span>
                        </div>
                        <div class="mb-2">
                            <span class="badge badge-xs badge-warning">{{ rs.count }}건</span>
                        </div>
                    </div>
                    {% empty %}
                    <div>기록된 검사가 없습니다.</div>
                    {% endfor %}
                  
                </ul>
            </div>
        </div>
        
        <div class="divider"></div>
        
        <div class="mt-4">
            {% for refer in refers %}
            <div class="border-b border-gray-200 pb-2 mb-2">
                <div class="mb-2">
                    <strong>{{ refer.referred_date }}</strong>: {{ refer.patient_name }} ({{ refer.patient_gender }}/{{ refer.patient_birthdate|date:"Y-m-d" }})
                    | {{ refer.status }} |
                    <a href="{% url 'crm:collab_refer_detail' refer.id %}" class="text-blue-500 hover:underline">[상세보기]</a>
                </div>
                <ul class="list-disc pl-5">
                    {% for diagnosis in refer.refersimplediagnosis_set.all %}
                    <li> {{ diagnosis.diagnosis }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            {% if not refers %}
            <div class="mb-2">
                <strong>데이터 없음</strong>
            </div>
            {% endif %}
        </div>
    </div>
        