<div class="flex flex-row gap-4 px-6">
    {% for item in btn_y_m %}
        <div class="dropdown">
            <!-- Year button (dropdown trigger) -->
            <div tabindex="0" role="button" class="btn m-1">{{ item.year }}년</div>
            <!-- Month dropdown -->
            <ul class="dropdown-content menu bg-base-100 rounded-box z-50 w-120 p-2 shadow flex flex-col flex-wrap gap-2" id="dropdown-{{ item.year }}">
                {% for month in item.months %}
                    <li class="inline-flex">
                        <a href="#"
                           hx-get="{% url 'briefing:partial_briefing' %}?syear={{ item.year }}&smonth={{ month }}"
                           hx-trigger="click"
                           hx-target="#stat_panel"
                           hx-swap="innerHTML"
                           hx-transition=""
                           hx-indicator="#spinner"
                           class="btn btn-sm"
                           hx-on:click="document.getElementById('dropdown-{{ item.year }}').blur()"
                        >
                            {{ month }}월
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <div class="text-center text-gray-500">데이터가 없습니다.</div>
    {% endfor %}
</div>