{% extends 'dashboard/base.html' %}

{% load custom_filters %}
{% load humanize %}


{% block header %}
    {% include 'dashboard/header_dashboard.html' %}
{% endblock %}


{% block content %}
<style>
    p {
        white-space: pre-line;
        margin-bottom: 0.8rem;
    }
</style>
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <div class="card-body grow-0">
        <div class="flex justify-between gap-2">
            <h2 class="card-title grow">
                <a class="link-hover link">공지사항 게시판  </a>
            </h2>
            <a href="#"
                hx-get="{% url 'dashboard:board' %}"
                hx-trigger="click"
                hx-target="#main_area"
                hx-swap="outerHTML"
                class="btn btn-primary">돌아가기</a>
                        
            
        </div>
    </div>
</section>

<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
    <article class="card-body grow-0 col-span-12 max-w-4xl">
        <div class="grid grid-cols-4 gap-2 mt-4">
            <!-- Title Field -->
            <div class="col-span-4 flex flex-row justify-between">
                <div class="text-3xl font-bold hover:text-gray-700 pb-4 px-6">{{ post.title }}</div>
                <div class="flex items-end p-2">
                    {% if post.is_public %}
                        <span class="ml-2">공개 상태</span>
                    {% else %}
                        <span class="ml-2">비공개 상태</span>
                    {% endif %}

                </div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="grid grid-cols-4 gap-2 mt-4">
            <div class="col-span-4 px-6">
                {{ post.content|safe }}
            </div>
        </div>
        <div class="divider"></div>
        <div class="grid grid-cols-4 gap-2 mt-4">
            <div class="form-control col-span-4">
                <label class="label">
                    <span class="label-text">첨부파일(들)</span>
                </label>
                <div class="flex flex-row gap-2 ">
                {% if post_attachments %}
                {% for post_attachment in post_attachments %}

                        <a href="{{ post_attachment.file.url }}" class="link px-2" target="_blank">
                            {{ post_attachment.file.name|filename }}
                        </a>
                    
                {% endfor %}
                {% else %}
                    <div class="border bg-gray-100 p-2 w-full   ">첨부파일 없음</div>
                {% endif %}
                </div>
            </div>
        </div>
        <div class=" mt-4 ">
            <div class=" flex flex-row justify-between">
                <a type="link" class="btn btn-primary w-40"
                    hx-get="{% url 'dashboard:board'%}"
                    hx-trigger="click"
                    hx-target="#main_area"
                    hx-swap="outerHTML"

                >목록으로</a>
           
            </div>
           
        </div>
    </article>
</section>
  
{% endblock %}

{% block aside %}

	{% include 'dashboard/aside.html' %}
	
{% endblock %}