{% extends 'app_base.html' %}
{% load custom_filters %}
{% load humanize %}

{% block header %}
    {% include 'dashboard/header_dashboard.html' %}
{% endblock %}

{% block content %}
<section class="col-span-12 w-full shadow-sm bg-base-100 rounded-2xl p-4">
  {% include "dashboard/include_year_month_filter_dashboard.html" %}
</section>
<div id="stat_panel" class="col-span-12 w-full">
  
  {% include "dashboard/partial_dashboard.html" %}
    
</div>
{% endblock %}

{% block aside %}

	{% include 'dashboard/aside.html' %}
	
{% endblock %}