{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    {% include 'dashboard/header_dashboard.html' %}
{% endblock %}

{% block content %}
<div class="col-span-12 mx-auto max-w-md">
    <h1 class="text-2xl font-semibold mb-4">Change Password Done</h1>
    <p>Your password has been successfully updated.</p>
    <a href="{% url 'dashboard:index' %}" class="btn btn-primary mt-4">Return to Home</a>
</div>


{% endblock content %}

{% block aside %}

	{% include 'dashboard/aside.html' %}
	
{% endblock %}