{% extends 'dashboard/base.html' %}
{% load custom_filters %}
{% load widget_tweaks %}

{% block title %}Profile{% endblock %}

{% block header %}
    {% include 'dashboard/header_dashboard.html' %}
{% endblock %}

{% block content %}
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
  <div class="card-body grow-0">
      <div class="flex justify-between gap-2">
          <h2 class="card-title grow">
              <a class="link-hover link">Profile</a>
          </h2>
      </div>
  </div>
</section> 
<section class="card col-span-12 overflow-hidden bg-base-100 shadow-sm xl:col-span-12">
  <div class="card m-8">
    <div class="mt-6 border-t border-gray-100 px-8">
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">HumanIC ID</label></div>
        <div class="p-3 w-80">{{ user.username }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">License#</label></div>
        <div class="p-3 w-80">{{ user.profile.license_number|handle_none }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">Name</label></div>
        <div class="p-3 w-80">{{ user.profile.real_name }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">Email</label></div>
        <div class="p-3 w-80">{{ user.profile.email }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">Cellphone</label></div>
        <div class="p-3 w-80">{{ user.profile.cellphone|handle_none }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">1st 세부전공</label></div>
        <div class="p-3 w-80">{{ user.profile.specialty2|handle_none }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">2nd 세부전공</label></div>
        <div class="p-3 w-80">{{ user.profile.specialty3|handle_none }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">3rd 세부전공</label></div>
        <div class="p-3 w-80">{{ user.profile.specialty4|handle_none }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">4th 세부전공</label></div>
        <div class="p-3 w-80">{{ user.profile.specialty5|handle_none }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"><label for="id_oldpassword" class="label">Remarks</label></div>
        <div class="p-3 w-80">{{ user.profile.bio|handle_none }}</div>
      </div>
      <div class="flex flex-row">
        <div class="w-52"></div>
        <div class="p-3 w-80">
          <a 
            class="btn btn-primary w-24"
            hx-get="{% url 'dashboard:edit_profile' %}"
            hx-trigger="click"
            hx-target="#main_area"
            hx-swap="outerHTML"
          >Edit</a></div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block aside %}

	{% include 'dashboard/aside.html' %}
	
{% endblock %}