{% load widget_tweaks %}
<div id="weekday_modality_target_box" class="modal-box card-body w-92">
    <div class="modal-action justify-between  flex flex-row gap-2">
        <div class="w-92">
            요일별 희망 판독수량 입력 {{ real_name }}
        </div>
        <div class="flex flex-row gap-2">
            <form method="dialog">  
                <button class="btn btn-warning">Close</button>
            </form>
        </div>
    </div>
    <div class="card-body grow-0">
        <form 
            hx-post="{{ request.path }}" 
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-target="#weekday_modality_target_box" 
            hx-swap="outerHTML" 
            hx-trigger="submit"
            id="weekday_modality_target_form"
        >
            <div class="form-control py-4">
                <label for="id_modality" class="label">요일</label>
                {{ form.work_weekday|add_class:"input input-bordered" }}
                {{ form.work_weekday.errors }}
            </div>
            <div class="form-control py-4">
                <label for="id_modality" class="label">Modality</label>
                {{ form.modality|add_class:"input input-bordered" }}
                {{ form.modality.errors }}
            </div>
            <div class="form-control py-4">
                <label for="id_target_value" class="label">희망 판독수량</label>
                {{ form.target_value|add_class:"input input-bordered" }}
                {{ form.target_value.errors }}
            </div>
            <div class="form-control py-4">
                <label for="id_max_value" class="label">최대 판독수량</label>
                {{ form.max_value|add_class:"input input-bordered" }}
                {{ form.max_value.errors }}
            </div>
            <div class="flex justify-end gap-2">
                <button type="submit" class="btn btn-primary">저장</button>
                <button type="button" class="btn btn-secondary" onclick="base_modal.close()">취소</button>
            </div>
        </form>
        <script>
            document.getElementById('weekday_modality_target_box').addEventListener('htmx:beforeSwap', function(event) {
                if (event.detail.target.id === 'weekday_modality_target_box') {
                    // Check if the form submission was successful
                    console.log("Status:", event.detail.xhr.status);
                    console.log("Headers:", event.detail.xhr.getAllResponseHeaders());
                    if (event.detail.xhr.status === 204) {
                        // If successful, close the modal
                        base_modal.close();
                        console.log("Form submission successful");
                    } else {
                        // If there are validation errors, keep the modal open
                        console.log("Form submission failed with validation errors");
                    }
                }
            });

        </script>
    </div>  
</div>